---cson
layout: 'deck_unit'
title: "Is there a Cartesian Circle?"
tags: []
description: """
  ‘His circular bind, then, is that he can be absolutely certain about God only 
  if he is already absolutely certain about clear and distinct ideas, 
  and he can be absolutely certain about clear and distinct ideas only if he is already certain about God’
  (Broughton 2003, p. 175).
  """
duration: 5
---

include ../../../fragments/unit_mixins
include ../../../fragments/lecture_mixins
include ../../../fragments/descartes_mixins

+slide_rh_white({step:true})
  +left_half
    .hem-around-children
      p How do I know that what I clearly and distinctly perceive is true?
      .slide.hem-around-children
        p 1. God exists.
        p 2. God is the ultimate source of these perceptions.
        p 3. God does not deceive.
  +right_half({step:true})
    .hem-around-children
      p How do I know that God exists?
      slide.hem-around-children
        p 1. What I clearly and distinctly perceive is true.
        p 2. I clearly and distinctly perceive that God exists.

+slide_middle
  .notes: :t
    Some passages suggest the God-first idea
  p.notes.handout.show
    span ‘[F]rom this contemplation of the true God ... 
    span.forward I think I can see a way forward 
    span  to the knowledge 
    span of other things. To begin with, I recognize that it is impossible that God 
    span should ever deceive me. . . . And since God does not wish to deceive me, he 
    span surely did not give me the kind of faculty which would ever enable me to go 
    span wrong while using it correctly’ 
  .notes.handout.ctd \citep[p.~37, AT VII:53–54]{descartes:1985_csm2}
  p.right.grey-text Meditation IV
  .slide
    +blur('span:not(.forward)')
    .notes: :t
      Not really convicing: does a ‘way forward’ mean a basis for knowledge?

+slide_timer({hide:true})
  p also: doubt about clear and distinct perception 
  p (e.g. doubt that 2+3=5)
  .slide
    p.hem-around.indent 1. It is possible to doubt things that are clearly perceived.
    p.hem-around.indent.two 2. We must find justification for removing doubt.
    p.hem-around.indent 3. Therefore, we must find justification for not doubting what is clearly perceived.
  +show-timer('timer1')
    .notes: :t
      Is this a good argument.
      Can we reject any premises?
  +start-timer('timer1')
  .slide
    +hide('.timer-outer')
    +highlight-row('.two', 'red')

+slide_middle
  .notes: :t
    Matters are even clearer in the Discourse on Method ...
  p.notes.handout.show: :t
    ‘what I took just now as a rule, namely that everything we
    conceive very clearly and very distinctly is true, is assured only for the
    reasons that God is or exists
  p.notes.handout.ctd: :t
    , that he is a perfect being, and that
    everything in us comes from him. It follows that our ideas or notions,
    being real things and coming from God, cannot be anything but true, in
    every respect in which they are clear and distinct.’
  .notes.handout.ctd: :t
    \citep[p.~130, AT VI:38]{descartes:1985_csm1}
  p.right.grey-text Discourse on Method 


+slide_middle
  .notes: :t
    Other passages suggest the God-first idea is wrong ...
  .step2
    p.em-above: :t
      ‘I am certain that I am a thinking thing. 
    p.slide: :t
      Do I not therefore also know what is required for my
      being certain about anything? 
    p.slide.the-claim: :t
      In this first item of knowledge there is simply a clear and
      distinct perception of what I am asserting; this would not be enough to make me certain of the
      truth of the matter if it could ever turn out that something which I perceived with such
      clarity and distinctness was false.’
  .slide
    p.em-above.notes.handout.show: :t
      ‘I now seem to be able to lay it down as a general rule that 
    p.notes.handout.show.ctd.whatever: :t
      whatever I perceive clearly and distinctly is true’
    p.grey-text.right Meditation III

+slide_timer
  p.center God exists therefore clear perceptions are true 
  p.center or 
  p.center Clear perceptions are true therefore God exists?
  +start-timer('timer1')

+slide_middle
  .notes: :t
    Recall a key passage suggesting the God-first idea ...
  p.notes.handout.show: span: :t
    ‘I think I can see a way forward to the knowledge
    of other things ... since God does not wish to deceive me, he
    surely did not give me the kind of faculty which would ever enable me to go
    wrong while using it correctly’
  .notes.handout.ctd \citep[p.~37, AT VII:53–54]{descartes:1985_csm2}
  p.right.grey-text Meditation IV
  .slide
    p.em-above.notes.handout.show: span: :t
      ‘there arises in me a clear and distinct idea of a being who is independent and
      complete, that is, an idea of God. 
    p.slide.em-above.notes.handout.show: span: :t
      And from the mere fact that there is such an
      idea within me [...] I clearly infer that God
      also exists [...] 
    p.slide.em-above.notes.handout.show
      span So clear is this conclusion that I am confident that 
      span.noblur the human intellect 
      span.noblur  cannot know anything that is more evident or more certain.’ 
    p.right.grey-text Meditation VI
  .slide
    +blur('span:not(.noblur)')
    .notes: :t
      I think Descartes’ strategy might be this ...

+slide_middle
  .hem-around-children
    p.one   1. If we can know anything, then we can know God exists.
    p.slide 2. We can know something.
    p.slide 3. Therefore, we can know God exists.
    p.slide 4. But God doesn’t deceive us.
    p.slide 5. Therefore what we clearly perceive is true.
  .slide
    +highlight-row('.one')
    .notes: :t
      On my interpretation, Descartes is not offering an anti-sceptical argument.
    .handout: :t
      Steve’s rough idea:
      \begin{enumerate}
      \item If we can know anything, then we can know God exists.
      \item We can know something.
      \item Therefore, we can know God exists.
      \item But God doesn’t deceive us.
      \item Therefore what we clearly perceive is true.
      \end{enumerate}
      Compare \citet{murdoch:1999_cartesian}: ‘not only is the doubt-insinuating thought not a reason 
      for Descartes to doubt his entitlement to infer that God exists, but also he has no other 
      reason to doubt this.’ Conflicting interpretations include \citet{rocca:2005_descartes,broughton:2003_descartes,doney:1955_cartesian}.

+slide_rh_white({step:true})
  .notes: :t
    On my interpretation, there’s also no reason for Descartes to be offering a sceptical argument.
  +run_across
    p.center Two Interpretations
  +left_half
    .hem-around-children
      p 1. The sciences need a metaphysical foundation.
      p 2. This foundation must include a refutation of scepticism.
    .slide
      p.hem-above: :t
        ‘I had seen many ancient writings by the Academics and Sceptics on this subject, 
        and was reluctant to reheat and serve this precooked material’
      p.right.grey-text Second Replies

  +right_half({step:true})
    +blur('.left-half')
    .hem-around-children
      p 1. The assumption that sensory perception enables us to know the essential nature of things leads to bad science.
      p 2. Reflection on possible grounds for doubt provides reasons to reject this assumption.
      .notes This is why doubt is necessary to establish anything in the sciences that is stable and likely to last.

+slide_middle
  .hem-around-children
    p If Descartes were refuting scepticism, the Cartesian Circle would be inescapable.
    p But it isn’t.
    p So Descartes isn’t refuting scepticism. 

+slide_timer
  p.center ... or?
  +start-timer('timer1')

+slide_middle
  .notes: :t
    This passage appears to refute my position.
  .notes: :t
    Actually it’s doubly bad for me (a) knowledge depends on God, and
    (b) it’s not knowledge if it can be doubted.
  p.notes.handout.show: :t
    ’an atheist can be clearly aware that the three angles of a triangle are equal to two 
    right angles [...]. But I maintain that this awareness of his is not 
    true knowledge, since no act of awareness that can be rendered doubtful seems 
    fit to be called knowledge’
  .notes.handout.ctd \citep[p.~101, AT VII: 141]{descartes:1985_csm2}
  p.right.grey-text Second Replies
  .notes: :t
    Also note what Descartes himself said ...
  .notes.handout: :t
    ‘as to the fact that I was not guilty of circularity when I said that the only
    reason we have for being sure that what we clearly and distinctly perceive is
    true is the fact that God exists, but that we are sure that God exists only
    because we perceive this clearly: [...] I made a distinction between what we in fact perceive
    clearly and what we remember having perceived clearly on a previous occasion.
    To begin with, we are sure that God exists because we attend to the arguments
    which prove this; but subsequently it is enough for us to remember that we
    perceived something clearly in order for us to be certain that it is true. This
    would not be sufficient if we did not know that God exists and is not a
    deceiver’
    \citep[p.~171, AT VII:245--6]{descartes:1985_csm2}

