---cson
layout: 'deck_unit'
title: "Clear and Distinct"
tags: []
description: """
  ‘I call a perception 'clear' when it is present and accessible to the
  attentive mind - just as we say that we see something clearly when it is
  present to the eye's gaze and stimulates it with a sufficient degree of
  strength and accessibility. 
  I call a perception 'distinct' if, as well as
  being clear, it is so sharply separated from all other perceptions that it contains
  within itself only what is clear’
  (Principles of Philosophy CSM 1:207--8, AT VIII:21--22).
  """
duration: 5
---

include ../../../fragments/unit_mixins
include ../../../fragments/descartes_mixins


+slide_middle
  p.theQ How could the intellect alone enable us to know the essential nature of things?
  .step2.hide
    p.em-above: :t
      ‘I am certain that I am a thinking thing. 
    p: :t
      Do I not therefore also know what is required for my
      being certain about anything? 
    p: :t
      In this first item of knowledge there is simply a clear and
      distinct perception of what I am asserting; this would not be enough to make me certain of the
      truth of the matter if it could ever turn out that something which I perceived with such
      clarity and distinctness was false.’
  .slide
    p.em-above.notes.handout.show: :t
      ‘I now seem to be able to lay it down as a general rule that 
    p.notes.handout.show.ctd.whatever: :t
      whatever I perceive clearly and distinctly is true’
    p.em-above.notes.handout.ctd.show.grey-text.right (Meditation 3)
  .slide
    +blur('.theQ')
  .slide
    +hide('.step2 p:gt(0)', 0)
    +show('.step2')
  .slide
    +show('.step2 p:eq(1)')
  .slide
    +show('.step2 p:eq(2)')
  .slide
    +unblur('.theQ')
    +blur('p:not(.theQ,.whatever)')

+slide_middle
  .notes: :t
    At this point we face a flood of questions.
  p.q1.hem-around: :t
    1. What are clear and distinct perceptions? 
  p.q2.hem-around: :t
    2. Why think perceptions which are not clear and distinct do not yield knowledge?
  p.q3.hem-around: :t
    3. Why think clear and distinct perceptions do yield knowledge?
  .slide 
    +highlight-row('.q3')
    .notes So far: on the basis of a single case study
  .slide
    +unhighlight-row('.q3')
    +highlight-row('.q2')
    .notes So far: no reason
  .slide
    +unhighlight-row('.q2')
    +highlight-row('.q1')
    .notes So far: the kind involved in cogito-style arguments
    .notes: :t
      Let’s see whether we can get a bette sense
      by thinking about a particular case ...


+slide_middle
  .notes recall from a moment ago
  p.theQ How could the intellect alone enable us to know the essential nature of things?
  .step2
    p.em-above: :t
      ‘I am certain that I am a thinking thing. 
    p: :t
      Do I not therefore also know what is required for my
      being certain about anything? 
    p: :t
      In this first item of knowledge there is simply a clear and
      distinct perception of what I am asserting; this would not be enough to make me certain of the
      truth of the matter if it could ever turn out that something which I perceived with such
      clarity and distinctness was false.’
  p.em-above.notes.show: :t
    ‘I now seem to be able to lay it down as a general rule that 
  p.notes.show.ctd.whatever: :t
    whatever I perceive clearly and distinctly is true’
  p.em-above.notes.ctd.show.grey-text.right (Meditation 3)
  +blur('p:not(.theQ,.whatever)', '2px', 0)

+slide_middle
  p Example: the wax
  p.notes.handout.show.em-above
    span ‘the perception I have of it is a case not of 
    br
    span vision or touch or imagination 
    br
    span ... but of 
    br
    span purely mental scrutiny;
    .slide
      span and this can be 
      br
      span.inc imperfect and confused
      br
      span as it was before
    .slide
      span or
      br
      span.cnd clear and distinct
      br
      span as it is now,
    .slide
      span depending on how carefully I concentrate’
  .slide
    +blur('span:not(.inc,.cnd)')

+slide
  p.hem-around Option 1: ‘clear and distinct’ is a psychological property
  .slide
    p.hem-around Option 2: ‘clear and distinct’ is a lose way of talking about whatever underpins mathematical knowledge
  .slide
    +highlight-row('p:eq(1)')
  .slide
    .notes: :t
      One attraction of this idea is that it gives us answers to all the questions ...
    p.q1.hem-above: :t
      1. What are clear and distinct perceptions? 
    p.q1.indent Those involved in thinking mathematically.
  .q2.hide
    p.hem-above: :t
      2. Why think perceptions which are not clear and distinct do not yield knowledge?
    p.answer.hide.indent Erm ... because only mathematics yields knowledge?
  .slide
    +blur('.q1')
    p.q3.hem-above: :t
      3. Why think clear and distinct perceptions do yield knowledge?
    p.q3.indent Because mathematics is possible.
  .slide
    +blur('.q3')
    +show('.q2')
  .slide
    +show('.q2 .answer')
  .slide
    +blur('.q2')
    .notes: :t
      Only problem is that physics does not reduce to mathematics.
      (Although Descartes might reasonably have thought otherwise.)

+slide
  p.hem-around Option 1: ‘clear and distinct’ is a psychological property
  p.hem-around Option 2: ‘clear and distinct’ is a lose way of talking about whatever underpins mathematical knowledge
  .euclid.em-above.hide 
    p.hem-around But Euclid’s fifth postulate (the ‘parallel postulate’) ...
    .notes: :t
      ‘If a line segment intersects two straight lines forming two interior
      angles on the same side that sum to less than two right angles, then the
      two lines, if extended indefinitely, meet on that side on which the
      angles sum to less than two right angles.’
    p.hem-around ... and the Axiom of Choice ...
    p.hem-around ... and  ...
  +highlight-row('p:eq(1)')
  .slide
    +unhighlight-row('p:eq(1)')
    +highlight-row('p:eq(0)')
  .slide
    +show('.euclid')
  .slide
    +blur('.euclid', '5px')

+slide
  p.hem-around Option 1: ‘clear and distinct’ is a psychological property
  p.hem-around Option 2: ‘clear and distinct’ is a lose way of talking about whatever underpins mathematical knowledge
  +highlight-row('p:eq(0)')
  .slide
    .dilemma
      p.em-above Dilemma: is your perception of the parallel posulate clear and distinct?
      p.hem-around.indent If not, you can never know which perceptions are clear and distinct.
      p.hem-around.indent If it is, not all clear and distinct perceptions yield knowledge.
  .slide
    +blur('.dilemma')
    +unhighlight-row('p:eq(0)')

+slide_timer
  p.hem-around Option 1: ‘clear and distinct’ is a psychological property
  p.hem-around Option 2: ‘clear and distinct’ is a lose way of talking about whatever underpins mathematical knowledge
  .euclid.em-above.hide 
    p.hem-around But Euclid’s fifth postulate (the ‘parallel postulate’) ...
    .notes: :t
      ‘If a line segment intersects two straight lines forming two interior
      angles on the same side that sum to less than two right angles, then the
      two lines, if extended indefinitely, meet on that side on which the
      angles sum to less than two right angles.’
    p.hem-around ... and the Axiom of Choice ...
    p.hem-around ... and  ...
  .notes What do you think? Are either of these options viable? Is there another option?
  +start-timer('timer1')

+slide_middle
  .notes What does Descartes himself say? Nothing much in the Mediatations. But
  p.notes.handout.show: :t
    ‘What is meant by a clear perception, and by a distinct perception.
  p.slide.notes.handout.show.hem-around.ctd: :t
    I
    call a perception 'clear' when it is present and accessible to the
    attentive mind - just as we say that we see something clearly when it is
    present to the eye's gaze and stimulates it with a sufficient degree of
    strength and accessibility. 
  p.slide.notes.handout.show.hem-around.ctd: :t
    I call a perception 'distinct' if, as well as
    being clear, it is so sharply separated from all other perceptions that it contains
    within itself only what is clear’
  .notes.handout.ctd: :t
     \citep[pp.~207--8, AT VIII:21--22]{descartes:1985_csm1}
  p.right.grey-text Descates (Principles of Philosophy)
  .notes: :t
    No idea what to make of this.


+slide_middle
  .notes: :t
    Earlier I considered these questions. What have we learned?
  p.hem-around: :t
    1. What are clear and distinct perceptions? 
  p.hem-around: :t
    2. Why think perceptions which are not clear and distinct do not yield knowledge?
  p.hem-around: :t
    3. Why think clear and distinct perceptions do yield knowledge?
  .slide
    +highlight-row('p:eq(0)')
    .notes Descartes is not super informative himself. I think you can read in what you like
  .slide
    +unhighlight-row('p:eq(0)')
    +highlight-row('p:eq(1)')
    .notes Either no perceptions yield knowledge, or only perceptions of logical and perhaps mathematical truths.
  .slide
    +unhighlight-row('p:eq(1)')
    +highlight-row('p:eq(2)')
    .notes You shouldn’t.
  .slide
    +unhighlight-row('p:eq(2)')



+slide_middle
  p.center.huge-glow puzzle

+slide
  .notes: :t
    A puzzle on Descartes’ positive views about how we acquire knowledge of the essential
    natures of things.
  img(src='/img/rainbow.gif', style='max-height:500px; filter:invert(1)')
  .notes: :t
    Descartes appears to hold that we have some kind of mathematical basis for 
    knowledge of the essential natures of bodies. But he is also an early proponent 
    of the importance of measurements. His scientific work all involves combining
    mathematics with observation. This is what led to the great breakthrough in science.

+slide_middle
  p Hypothesis testing
  p.slide.hem-around 1. Sensory perception alone cannot tell you which hypothesis is true.
  p.slide.hem-around 2. Humans are disposed to accept many false hypotheses.
  .slide
    p.hem-above Therefore:
    p.hem-around 3. Your sensory perceptions and sense of what is plausible should not constrain which hypotheses you consider.
  p.slide.hem-around 4. ... but observation (sensory perception) is essential for testing hypotheses.

+slide
  img(src='/img/plutonium.png', style='max-height:500px; filter:invert(1)')
  p.source xkcd.com/2115
  .notes: :t
    [To illustrate that common sense shouldn’t be used in 
    deciding which hypotheses to test.]