---cson
layout: 'deck_unit'
title: "Conclusion"
tags: []
description: """
  ‘... the principal reason for doubt, namely my inability
  to distinguish between being asleep and being awake. For I now notice that
  there is a vast difference between the two, in that dreams are never linked by
  memory with all the other actions of life as waking experiences are’
  (Meditation VI).
  """
duration: 5
---

include ../../../fragments/unit_mixins
include ../../../fragments/lecture_mixins
include ../../../fragments/descartes_mixins

+slide_middle({bkg:'heisenberg.jpg'})
  +hide('img.bkg', 0)
  p Why doubt?
  .notes: :t
    My Descartes is not interested in refuting the sceptic;
    his focus is the scientific revoltion.
    Doubt is an alternative to the more direct approach taken in The World.
  .slide
    p.em-above.refute ... to refute scepticism?
    .notes: :t
      image: heisenberg, founder of quantum mechanics.
    .notes: :t
      (a) you cannot refute scepticism,
  .slide
    +show('img.bkg')
    .notes: :t
      and (b) scepticism is correct in this sense: 
      the world is almost certainly quite different
      from how you think it is.
  .slide
    +line-through('.refute')
    +blur('img.bkg', '5px')
  .slide
    +fade('img.bkg')
    p.em-above: :t
      Doubt is necessary to establish ‘anything at all in the sciences that is stable and likely to last’
    .notes But refuting scepticism isn’t going to help establish anything in the sciences.

+slide
  .notes: :t
    Why is doubt necessary? To lead us away from the senses!
  +img_clip('fire.png')
  +style('img', {filter:'invert(1)'})
  +reset
    .slide
      +style('img', {filter:'invert(1) blur(5px) opacity(.7)'})
      p.notes.handout.show: :t
        ‘although I feel heat when I go near a fire and feel pain when I go too near,
        there is no convincing argument for supposing that there is something in the
        fire which resembles the heat, any more than for supposing that there is
        something which resembles the pain. 
    .slide
      p.notes.handout.ctd.em-above.show: :t
        There is simply reason to suppose that
        there is something in the fire, whatever it may eventually turn out to be,
        which produces in us the feelings of heat or pain’
    .notes.handout.ctd: :t
      \citep[p.~58, AT VII:83]{descartes:1985_csm2}
    p.right.grey-text Meditation VI 
      br
      span Treatise on Man figure 1

+slide
  +img_clip('eye.png')
  +style('img', {filter:'invert(1)'})
  p.source Treatise on Man, figure 2
  +reset
    p(style='margin-top:270px') Why doubt?
    p.hem-above.indent Not to refute scepticism.
    p.hem-above.indent But because doubt is ‘the easiest route by which the mind may be led away from the senses’.

+slide_middle
  .notes: :t
    Note also that 
    Descartes is quite dismissive of doubt by the end of the Meditations
    (earlier said could not distinguish
    dreaming from waking)
  p.notes.handout.show: :t
    ‘... the principal reason for doubt, namely my inability
    to distinguish between being asleep and being awake. For I now notice that
    there is a vast difference between the two, in that dreams are never linked by
    memory with all the other actions of life as waking experiences are.’
  .notes.handout.ctd: :t
    If, while
    I am awake, anyone were suddenly to appear to me and then disappear
    immediately, as happens in sleep, so that I could not see where he had come
    from or where he had gone to, it would not be unreasonable for me to judge that
    he was a ghost, or a vision created in my brain, rather than a real man. But
    when I distinctly see where things come from and where and when they come to
    me, and when I can connect my perceptions of them with the whole of the rest of
    my life without a break, then I am quite certain that when I encounter these
    things I am not asleep but awake. And I ought not to have even the slightest
    doubt of their reality if, after calling upon all the senses as well as my
    memory and my intellect in order to check them, I receive no conflicting
    reports from any of these sources. For from the fact that God is not a deceiver
    it follows that in cases like these I am completely free from error.’
  .notes.handout.ctd: :t
    \citep[p.~61--2, AT VII:89--90]{descartes:1985_csm2}
  p.right.grey-text Meditation VI

+slide_middle
  p.center ... or?

+slide_middle
  p.notes.handout.show: span: :t
    ‘I wanted to show the firmness of the truths which I propound later on, in the
    light of the fact that they cannot be shaken by these metaphysical doubts.
    ...
  p.slide.notes.handout.ctd.hem-above.show
    span I could not have left them out, any more than a medical writer can 
    span leave out the description of 
    span.noblur a disease
    span  when 
    span.noblur he wants to explain how it can be cured
    span .’ 
  .notes.handout.ctd: :t
    \citep[p.~121, AT VII:172]{descartes:1985_csm2}
  p.right.grey-text Third Replies
  .slide
    +blur('span:not(.noblur)')

+conclusion
  +_slide_inner
    div(style='margin-top:-550px')
      .slide
        p Why doubt?
        p.hem-above Even at the end, 
          br
          span the reasons Descartes gives for doubting
          br
          span remain a mystery.
        .notes (Enlighten me!)


//- +slide_middle
//-   p.notes.handout.show: :t
//-   .notes.handout.ctd: :t
//-     \citep[p.~58, AT VII:83]{descartes:1985_csm2}
//-   p.right.grey-text Meditation VI