---cson
layout: 'deck_unit'
title: "Error and the Senses"
tags: []
description: """
  ‘when I ... inquire into the nature of my errors
  [...]
  I notice that they depend on two concurrent causes, 
  namely on the faculty of knowledge which is in me, 
  and on the faculty of choice or freedom of the will; 
  that is, they depend on both the intellect and the will simultaneously’
  (Fourth Meditation).
  """
duration: 5
---

include ../../../fragments/unit_mixins
include ../../../fragments/descartes_mixins


+slide_middle
  .notes: :t
    \emph{The intellect} is the faculty of representation.
    \emph{The will} is what affirms or denies somthing represented
    \emph{Judgement} occurs when the intellect represents something which the will affirms (or denies).
    \emph{Error} occurs when will affirms (or denies) incorrectly.
  p.hem-around: :t
    The intellect is the faculty of representation.
  p.slide.hem-around: :t
    The will is what affirms or denies somthing represented
  p.slide.hem-around: :t
    Judgement occurs when the intellect represents something which the will affirms (or denies).
  p.slide.hem-around.senses: :t
    What about the senses? 
    .notes Where do they fit in?
  .slide
    +highlight-row('.senses')

+slide_middle
  p.notes.handout.show: :t
    Sensations of tastes,
    smells, sounds, heat, cold, light, colors and the like ‘do not represent
    anything located outside our thought’
  p.slide.notes.handout.ctd.show: :t
    These sensations ‘vary according to the different movements which pass 
    from all parts of our body to the ... brain’
  p.right.grey-text Principles
  .notes.handout.ctd: :t
    (\citealp[p.~ 219, AT VIII:35]{descartes:1985_csm1} cited by \citealp[p.~348]{simmons:1999_are})
+slide
  .notes: :t
    \section{Error and The Wax}
    The claim that bodies are ‘not strictly perceived by the senses’ plays an essential
    role in Descartes account of error. Since the senses do not strictly perceive bodies,
    they cannot be the cause of errors about bodies.