---cson
layout: 'deck_unit'
title: "Error"
tags: []
description: """
  ‘when I ... inquire into the nature of my errors
  [...]
  I notice that they depend on two concurrent causes, 
  namely on the faculty of knowledge which is in me, 
  and on the faculty of choice or freedom of the will; 
  that is, they depend on both the intellect and the will simultaneously’
  (Fourth Meditation).
  """
duration: 5
---

include ../../../fragments/unit_mixins
include ../../../fragments/descartes_mixins

//- Source : Williams ch 6 esp p. 155 ff.
//- background : ‘Descartes’s question was: why should I, created and sustained by a God who is no deceiver, ever be mistaken? This comes in effect to two questions, one about himself, and one about God. Why should I sometimes be mistaken? And why has God created me as a being who can sometimes be mistaken – i.e. why has he not made me perfect? The second of these questions Descartes will not try to answer: God’s purposes are inscrutable’ p. 151

