---cson
layout: 'deck_unit'
title: "Error and the Senses"
tags: []
description: """
  ‘when I ... inquire into the nature of my errors
  [...]
  I notice that they depend on two concurrent causes, 
  namely on the faculty of knowledge which is in me, 
  and on the faculty of choice or freedom of the will; 
  that is, they depend on both the intellect and the will simultaneously’
  (Fourth Meditation).
  """
duration: 5
---

include ../../../fragments/unit_mixins
include ../../../fragments/descartes_mixins


+slide_middle
  .notes: :t
    \emph{The intellect} is the faculty of representation.
    \emph{The will} is what affirms or denies something represented
    \emph{Judgement} occurs when the intellect represents something which the will affirms (or denies).
    \emph{Error} occurs when will affirms (or denies) incorrectly.
  .first
    p.hem-around
      span The 
      span.intellect.iwj intellect
      span  is the faculty of representation.
    p.slide.hem-around
      span The 
      span.will.iwj will
      span  is what affirms or denies something represented
    p.slide.hem-around
      span.judgement.iwj Judgement
      span  occurs when the intellect represents something which the will affirms (or denies).
  .slide
    +blur('.first span:not(.iwj)')
  .slide
    p.hem-around.senses: :t
      What about the senses? 
    .notes Where do they fit in?
  .slide
    +highlight-row('.senses')

+slide_middle({bkg:'wire.jpg'})
  +hide('img.bkg', 0)
  p.notes.handout.show: :t
    Sensory perceptions of tastes,
    smells, sounds, heat, cold, light, colors and the like ‘do not represent
    anything located outside our thought’
  p.slide.notes.handout.ctd.show.hem-above: :t
    These sensory perceptions ‘vary according to the different movements which pass 
    from all parts of our body to the ... brain’
  p.right.grey-text Principles
  .notes.handout.ctd: :t
    (\citealp[p.~ 219, AT VIII:35]{descartes:1985_csm1} cited by \citealp[p.~348]{simmons:1999_are})
  .slide
    +show('img.bkg')
    .notes: :t
      Sensations vs representations
  .slide
    +blur('img.bkg')
    p.notes.handout.em-above.show: :t
      ‘Something which I thought I was seeing with my eyes is in fact grasped solely by the faculty of
      judgement which is in my mind’
    p.right.grey-text.handout.ctd (Meditation 2).



+slide_middle
  p.notes.handout.show(style='line-height:1.66em;')
    span.step99.hide
      span ‘I have been in the habit of misusing the order of nature. For
    span.purpose: span ‘the proper purpose of [...] 
    span.perceptions: span sensory perceptions
    span.step2.hide  
      span [...] is simply to inform the 
      span mind of 
      span.beneficial what is beneficial or harmful
      span  [...]; 
    br
    span.step3.hide 
      span and to this extent they are sufficiently 
      span.clear-word clear
      span  and 
      span.distinct distinct
      span . 
    br
    span.step4.hide 
      span But I misuse 
      span them by treating them as reliable touchstones for immediate judgements about 
      span the 
      span.essential-nature essential nature
      span.of-bodies  of the bodies located outside us
      span ; 
    br
    span.step5.hide 
      span yet this is an area 
      span where they provide only very obscure information.’ 
  .notes.handout.ctd \citep[pp.~57-8]{descartes:1985_csm2} 
  p.right.grey-text Descartes, Meditation IV
  .slide
    +show('.step2')
    .notes: :t
      Sensations can have valence without representing anything
  //- .slide
  //-   +show('.step3')
  //- .slide
  //-   +show('.step4')
  //- .slide
  //-   +show('.step5')


+slide_middle
  .notes.handout: :t
    Distinguish two claims:
    \begin{enumerate}
        \item Sensory perceptions are caused by things. 
        \item Sensory perceptions represent (or present) things.
    \end{enumerate}
    Descartes accepts the first of these two claims (‘I do not see how God could be understood to be anything but a deceiver if the ideas were transmitted from a source other than corporeal things’).
  p Distinction:
  p.indent.hem-around Sensory perceptions have causes
  p.indent.hem-around Sensory perceptions represent (or present) things
  .notes: :t
    Sensations like electricity have causes.
  .slide
    p.em-above
      span ‘I do not see how God could be understood to be anything but a deceiver if 
      span the ideas were 
      span.transmitted transmitted
      span  from a source other than corporeal things’
  .slide
    +invert('.transmitted')




+slide_middle
  .notes: :t
    Recall this: 
    The claim that bodies are ‘not strictly perceived by the senses’ plays an essential
    role in Descartes account of error. Since the senses do not strictly perceive bodies,
    they cannot be the cause of errors about bodies.  
  p.hem-around: :t
    The intellect is the faculty of representation.
  p.hem-around: :t
    The will is what affirms or denies something represented
  p.hem-around: :t
    Judgement occurs when the intellect represents something which the will affirms (or denies).
  p.hem-around.senses: :t
    What about the senses? 
  .notes Where do they fit in?
  +highlight-row('.senses')

+slide_timer
  p.center Do sensory perceptions have 
    span.io intentional object
    span s?
  .slide
    +invert('.io')
    .notes: :t
      Ie they represent or otherwise relate to properties of things?
  .slide
    +uninvert('.io')
  +start-timer('timer1')


+slide_middle
  p What about appearances? (Partially immersed stick appearing bent, e.g.)
  .notes.handout: :t
    \subsection{Descartes’ Three Grades of Sensory Response}
    ‘when I see a stick, it should not be supposed that certain ‘intentional
    forms’ fly off the stick towards the eye, but simply that rays of light
    are reflected off the stick and set up certain movements in the optic nerve
    and, via the optic nerve, in the brain, as I have explained at some length
    in the Optics.' This movement in the brain, which is common to us and the
    brutes, is the \textbf{first grade of sensory response}. This leads to 
    \textbf{the second
    grade}, which extends to the mere perception of the colour and light
    reflected from the stick; it arises from the fact that the mind is so
    intimately conjoined with the body that it is affected by the movements
    which occur in it. 
    \emph{Nothing more than this should be referred to the sensory
    faculty, if we wish to distinguish it carefully from the intellect.} 
    But
    suppose that, as a result of being affected by this sensation of colour, I
    judge that a stick, located outside me, is coloured; and suppose that on
    the basis of the extension of the colour and its boundaries together with
    its position in relation to the parts of the brain, I make a rational
    calculation about the size, shape and distance of the stick: although such
    reasoning is commonly assigned to the senses (which is why I have here
    referred it to \textbf{the third grade of sensory response}), it is clear that it
    depends solely on the intellect’
    \citep[p.~295, AT VII:437]{descartes:1985_csm2}.


+slide_middle
  p: :t
    ‘when I see a stick, it [is] simply that rays of light
    are reflected off the stick and set up certain movements in the optic nerve
    and, via the optic nerve, in the brain 
  .slide
    p.notes.handout.show: :t
      This movement in the brain ... is the first grade of sensory response. 
  .slide
    p.notes.handout.show.hem-above: :t
      the second grade ... extends to the mere perception of the colour and light
      reflected from the stick [...] 
  .slide
    p.notes.handout.show: :t
      Nothing more than this should be referred to the sensory
      faculty, if we wish to distinguish it carefully from the intellect. 
  .slide
    p.notes.handout.show.hem-above: :t
      But
      suppose that ... I make a rational
      calculation about the ... shape ... of the stick: 
  .slide
    p.notes.handout.show: :t
      although such
      reasoning is commonly assigned to the senses (which is why I have here
      referred it to the third grade of sensory response), it ...
      depends solely on the intellect.
  p.right.grey-text Sixth Replies


+slide_timer
  p What about appearances? (Partially immersed stick appearing bent, e.g.)
  .notes: :t
    What is Descartes claiming about perceptual appearances in that 
    passage about the stick? (That there aren’t any.)
  +start-timer('timer1')

+slide_middle
  p.center Is Descartes’ consistent?

+slide_rh_white({step:true})
  .notes Simmons shows us that Descartes is not super consistent ...
  +left_half
    p.notes.handout.show: :t
      Sensory perceptions of tastes,
      smells, sounds, heat, cold, light, colors and the like ‘do not represent
      anything located outside our thought’
    p.right.grey-text Principles

  +right_half({step:true})
    p.notes.handout.show.quote1
      span Sensory perceptions ‘normally 
      span.tell tell us
      span  of the benefit or harm that external 
      span bodies may do [...], and do not, except occasionally and 
      span accidentally, 
      span.show-us show us
      span  what external bodies are like in themselves’ 
    .notes.handout.ctd: :t
      (\citealp[p.~224, AT VIII: 41]{descartes:1985_csm1} cited by \citealp[p.~350]{simmons:1999_are}).
    .slide
      +invert('.tell')
      .notes: :t
        How can you *tell* and *show* if you do not represent?
    .slide
      +uninvert('.tell')
      +invert('.show-us')
    .slide
      +blur('.quote1')
    .slide
      p.em-above.notes.quote2.show
        span.purpose: span ‘the proper purpose of [...] 
        span.perceptions: span sensory perceptions
        span.step2  
          span [...] is simply to 
          span.inform inform
          span  the 
          span mind of 
          span.beneficial what is beneficial or harmful’
      .slide
        +invert('.inform')
        .notes: :t
          How can you inform if you do not represent?

+slide_timer({hide:true})
  p.hem-around 1. Sensory perceptions represent (or present) things.
  p.hem-around 2. Sensory perceptions cannot be incorrect.
  +show-timer('timer1')
    .notes Could both claims be true?
  +start-timer('timer1')


+slide_middle
  .notes: :t
    Further evidence of the contradiction
  p.notes.handout.show
    span External bodies 
    br 
    span ‘may not exist in a way that 
    br 
    span exactly corresponds with my  sensory grasp of them, 
  p.notes.handout.ctd.show
    span for in many cases the 
    br
    span.grasp grasp of the senses
    br
    span  is very 
    span obscure and confused. 
  .slide
    +invert('.grasp')
    .notes: :t
      Mere sensations could not grasp.
  .slide
    +uninvert('.grasp')
  .slide
    p.notes.handout.ctd.show
      span But at least they possess all the properties which I 
      span clearly and distinctly understand, 
  .slide
    p.notes.handout.ctd.show
      span that is all those which, viewed in 
      span general terms, are comprised within the subject matter of pure mathematics.’

+slide_middle
  .hem-around-children
    p 1. On Descartes’ view, do the senses represent (or present) things?
    p.slide 2. If so, how is it that the senses never misrepresent (or mispresent) things?
