---cson
layout: 'deck_unit'
title: "Error"
tags: []
description: """
  ‘when I ... inquire into the nature of my errors
  [...]
  I notice that they depend on two concurrent causes, 
  namely on the faculty of knowledge which is in me, 
  and on the faculty of choice or freedom of the will; 
  that is, they depend on both the intellect and the will simultaneously’
  (Fourth Meditation).
  """
duration: 5
---

include ../../../fragments/unit_mixins
include ../../../fragments/descartes_mixins

//- Source : Williams ch 6 esp p. 155 ff.
//- background : ‘Descartes’s question was: why should I, created and sustained by a God who is no deceiver, ever be mistaken? This comes in effect to two questions, one about himself, and one about God. Why should I sometimes be mistaken? And why has God created me as a being who can sometimes be mistaken – i.e. why has he not made me perfect? The second of these questions Descartes will not try to answer: God’s purposes are inscrutable’ p. 151

+slide_middle
  p.notes.handout.show: :t
    ‘I know by experience that I am prone to countless errors’
  .notes.handout.ctd: :t
    \citep[p.~38; AT VII: 54]{descartes:1985_csm2}
  .slide
    p.notes.handout.show.em-above: :t
      ‘my errors ... are the only evidence of some imperfection in me’
    .notes.handout.ctd: :t
      \citep[p.~39; AT VII: 56]{descartes:1985_csm2}
  p.right.grey-text Fourth Meditation 

+slide_middle
  p.notes.handout.show: :t
    ‘So what then is the source of my mistakes? 
  .slide
    p.notes.handout.show.ctd.em-above
      span It must be simply this: the scope of 
      span.will the will 
      span is wider than that of 
      span.intellect the intellect
      span ; but instead of restricting it 
      span within the same limits, I extend its use to matters which I do not understand’ 
    .notes.handout.ctd: :t
      \citep[p.~40; AT VII: 58]{descartes:1985_csm2}
    p.right.grey-text Fourth Meditation 
  .slide
    +highlight('.will', 'yellow')
    .notes What are these?
  .slide
    +highlight('.intellect', 'blue')

+slide_middle
  .handout.notes: :t
    \emph{The intellect} is the faculty of representation.
    \emph{The will} is what affirms or denies something represented
    \emph{Judgement} occurs when the intellect represents something which the will affirms (or denies).
    \emph{Error} occurs when will affirms (or denies) incorrectly.
  p.hem-around: :t
    The intellect is the faculty of representation.
  p.slide.hem-around: :t
    The will is what affirms or denies something represented
  p.slide.hem-around: :t
    Judgement occurs when the intellect represents something which the will affirms (or denies).

+slide
  +img_clip('map.jpg')
  .notes: :t
    Here is a representation.
    You cannot say that I have misled you until I tell you that it represents 
    the route from your hotel to the metro station.
  .notes: :t
    So the picture is this: the intellect passes images to the will.
    And the will decides what to do with them.
    Some it affirms or denies. Others it just hangs on a wall.

+slide_middle
  p.hem-around: :t
    The intellect is the faculty of representation.
  p.hem-around: :t
    The will is what affirms or denies something represented
  p.hem-around: :t
    Judgement occurs when the intellect represents something which the will affirms (or denies).

+slide_middle
  p.notes.show: :t
    ‘So what then is the source of my mistakes? 
  .noslide
    p.notes.show.ctd.em-above
      span It must be simply this: the scope of 
      span.will the will 
      span is wider than that of 
      span.intellect the intellect
      span ; but instead of restricting it 
      span within the same limits, I extend its use to matters which I do not understand’ 
    .notes.ctd: :t
      \citep[p.~40; AT VII: 58]{descartes:1985_csm2}
    p.right.grey-text Fourth Meditation 
  +highlight('.will', 'yellow')
  +highlight('.intellect', 'blue')
  .slide
    +unhighlight('.will', 'yellow')
    +unhighlight('.intellect', 'blue')
    .notes: :t
      Ok, so now we get the picture?
  .slide
    p.em-above The intellect is incapable of error (it merely represents).
  .slide
    p.em-above Error occurs when the will affirms (or deines) in
      span.correctly correctly
      span .
  .slide
    +invert('.correctly')
    .notes What should the will not affirm?

