---cson
layout: 'deck_unit'
title: "Error"
tags: []
description: """
  ‘when I ... inquire into the nature of my errors
  [...]
  I notice that they depend on two concurrent causes, 
  namely on the faculty of knowledge which is in me, 
  and on the faculty of choice or freedom of the will; 
  that is, they depend on both the intellect and the will simultaneously’
  (Fourth Meditation).
  """
duration: 5
---

include ../../../fragments/unit_mixins
include ../../../fragments/descartes_mixins

//- Source : Williams ch 6 esp p. 155 ff.
//- background : ‘Descartes’s question was: why should I, created and sustained by a God who is no deceiver, ever be mistaken? This comes in effect to two questions, one about himself, and one about God. Why should I sometimes be mistaken? And why has God created me as a being who can sometimes be mistaken – i.e. why has he not made me perfect? The second of these questions Descartes will not try to answer: God’s purposes are inscrutable’ p. 151

+slide_middle
  
  p.notes.handout.show: :t
    ‘I know by experience that I am prone to countless errors’
  .notes.handout.ctd: :t
    \citep[p.~38; AT VII: 54]{descartes:1985_csm2}
  .slide
    p.notes.handout.show.em-above: :t
      ‘my errors ... are the only evidence of some imperfection in me’
    .notes.handout.ctd: :t
      \citep[p.~39; AT VII: 56]{descartes:1985_csm2}
  p.right.grey-text Fourth Meditation 

+slide_middle
  p.notes.handout.show: :t
    ‘So what then is the source of my mistakes? 
  .slide
    p.notes.handout.show.ctd.em-above
      span It must be simply this: the scope of 
      span.will the will 
      span is wider than that of 
      span.intellect the intellect
      span ; but instead of restricting it 
      span within the same limits, I extend its use to matters which I do not understand’ 
    .notes.handout.ctd: :t
      \citep[p.~40; AT VII: 58]{descartes:1985_csm2}
    p.right.grey-text Fourth Meditation 
  .slide
    +highlight('.will', 'yellow')
    .notes What are these?
  .slide
    +highlight('.intellect', 'blue')

+slide_middle
  .handout.notes: :t
    \emph{The intellect} is the faculty of representation.
    \emph{The will} is what affirms or denies somthing represented
    \emph{Judgement} occurs when the intellect represents something which the will affirms (or denies).
    \emph{Error} occurs when will affirms (or denies) incorrectly.
  p.hem-around: :t
    The intellect is the faculty of representation.
  p.slide.hem-around: :t
    The will is what affirms or denies somthing represented
  p.slide.hem-around: :t
    Judgement occurs when the intellect represents something which the will affirms (or denies).

+slide
  +img_clip('map.jpg')
  .notes: :t
    Here is a representation.
    You cannot say that I have misled you until I tell you that it represents 
    the route from your hotel to the metro station.


+slide_middle
  p.notes.show: :t
    ‘So what then is the source of my mistakes? 
  .noslide
    p.notes.show.ctd.em-above
      span It must be simply this: the scope of 
      span.will the will 
      span is wider than that of 
      span.intellect the intellect
      span ; but instead of restricting it 
      span within the same limits, I extend its use to matters which I do not understand’ 
    .notes.ctd: :t
      \citep[p.~40; AT VII: 58]{descartes:1985_csm2}
    p.right.grey-text Fourth Meditation 
  +highlight('.will', 'yellow')
  +highlight('.intellect', 'blue')
  .slide
    +unhighlight('.will', 'yellow')
    +unhighlight('.intellect', 'blue')
    .notes: :t
      Ok, so now we get the picture?
  .slide
    p.em-above The intellect is incapable of error (it merely represents).
  .slide
    p.em-above Error occurs when the will affirms (or deines) in
      span.correctly correctly
      span .
  .slide
    +invert('.correctly')
    .notes What should the will not affirm?

+slide_middle
  p.notes.handout.show
      span ‘If [...] I simply refrain from making a judgement in cases where I do not 
      span perceive the truth with sufficient 
      span.c-and-d clarity and distinctness
      span , then it is clear 
      span that I am behaving 
      span.correctly correctly
      span  and avoiding error.  
  p.notes.handout.show.ctd.hem-above
      span But if in such cases I either 
      span affirm or deny, then I am not using my free will 
      span.correctly correctly
      span ’
  .notes.handout.ctd: :t
    \citep[p.~41; AT VII: 59--60]{descartes:1985_csm2}
  p.right.grey-text Fourth Meditation 
  .slide
    +invert('.c-and-d')
    .notes: :t
      We will come back to the question of what these are.
      For now, the important thing is correctly.
  .slide
    +uninvert('.c-and-d')
  .slide
    +invert('.correctly')

+slide_middle
  p.notes.show: :t
    ‘So what then is the source of my mistakes? 
  .noslide
    p.notes.show.ctd.em-above
      span It must be simply this: the scope of 
      span.will the will 
      span is wider than that of 
      span.intellect the intellect
      span ; but instead of restricting it 
      span within the same limits, I extend its use to matters which I do not understand’ 
    .notes.ctd: :t
      \citep[p.~40; AT VII: 58]{descartes:1985_csm2}
    p.right.grey-text Fourth Meditation 
  p.em-above The intellect is incapable of error (it merely represents).
  p.em-above Error occurs when the will affirms (or deines) in
    span.correctly correctly
    span .
  +invert('.correctly')
  .slide
    +uninvert('.correctly')



+slide_middle({bkg:'shaun_sheep.jpg'})
  +hide('img.bkg', 0)
  p.notes.handout.show: :t
    ‘I can avoid error [...] merely [... by] remembering to
    withhold judgement on any occasion when the truth of the matter is not clear.’
  .notes.handout.ctd: :t
    \citep[p.~43; AT VII: 62]{descartes:1985_csm2}
  p.right.grey-text Fourth Meditation 
  .slide
    +show('img.bkg')
    .notes: :t
      Here I can avoid error by not judging that what looks like
      a person is a person.


+slide_timer({hide:true})
  p: :t
    Can Descartes’ strategy enable you to avoid error?
  +show-timer('timer1')
  +start-timer('timer1')


+slide_middle
  p.notes.show
    span ‘in 
    span.practical-life.ct practical life 
    br
    span it is sometimes necessary to act upon opinons which one knows to be quite uncertain 
    span just as if they were indubitable’
  p.right.grey-text Discourse on Method
  .notes.ctd: :t
    \citep[p.~126 AT 6:31]{descartes:1985_csm1}
  .slide
    p.notes.show.em-above
      span In devoting ‘myself soley to 
      span.search-for-truth.ct the search for truth
      br
      span.slide ... I resolved to 
        br
        span.pretend pretend
        br
        span  that all the things that had ever
        br
        span entered my mind were no more true
        br
        span that the illusions of my dreams’
    p.right.grey-text Discourse on Method
    .slide
      +blur('span:not(.practical-life, .search-for-truth)')
    .slide
      +unblur('span:not(.practical-life, .search-for-truth)')
      +invert('.pretend')

+slide_middle
  p
    span Can Descartes’ strategy enable you to avoid error 
    span.slide in the search for truth
    span ?

+slide_middle
  .notes: :t
    Descartes says his method can also enable him to know the truth!
    This is surely a step too far.

  p.notes.handout.show: :t
    ‘today I have learned not only what precautions to take to avoid ever going
    wrong, 
  p.notes.handout.show.ctd.slide.hem-above: :t
    but also what to do to arrive at the truth. 
  p.notes.handout.show.ctd.slide.hem-above: :t
    For I shall unquestionably
    reach the truth, if only I give sufficient attention to all the things which I
    perfectly understand, and separate these from all the other cases where my
    apprehension is more confused and obscure’
  .notes.handout.ctd: :t
    \citep[p.~43; AT VII: 62]{descartes:1985_csm2}
  p.right.grey-text Fourth Meditation 

