---cson
layout: 'deck_unit'
title: "Error and the Senses"
tags: []
description: """
  ‘when I ... inquire into the nature of my errors
  [...]
  I notice that they depend on two concurrent causes, 
  namely on the faculty of knowledge which is in me, 
  and on the faculty of choice or freedom of the will; 
  that is, they depend on both the intellect and the will simultaneously’
  (Fourth Meditation).
  """
duration: 5
---

include ../../../fragments/unit_mixins
include ../../../fragments/descartes_mixins


+slide_middle
  .notes: :t
    \emph{The intellect} is the faculty of representation.
    \emph{The will} is what affirms or denies something represented
    \emph{Judgement} occurs when the intellect represents something which the will affirms (or denies).
    \emph{Error} occurs when will affirms (or denies) incorrectly.
  .first
    p.hem-around
      span The 
      span.intellect.iwj intellect
      span  is the faculty of representation.
    p.slide.hem-around
      span The 
      span.will.iwj will
      span  is what affirms or denies something represented
    p.slide.hem-around
      span.judgement.iwj Judgement
      span  occurs when the intellect represents something which the will affirms (or denies).
  .slide
    +blur('.first span:not(.iwj)')
  .slide
    p.hem-around.senses: :t
      What about the senses? 
    .notes Where do they fit in?
  .slide
    +highlight-row('.senses')

+slide_middle({bkg:'wire.jpg'})
  +hide('img.bkg', 0)
  p.notes.handout.show: :t
    Sensory perceptions of tastes,
    smells, sounds, heat, cold, light, colors and the like ‘do not represent
    anything located outside our thought’
  p.slide.notes.handout.ctd.show.hem-above: :t
    These sensory perceptions ‘vary according to the different movements which pass 
    from all parts of our body to the ... brain’
  p.right.grey-text Principles
  .notes.handout.ctd: :t
    (\citealp[p.~ 219, AT VIII:35]{descartes:1985_csm1} cited by \citealp[p.~348]{simmons:1999_are})
  .slide
    +show('img.bkg')
    .notes: :t
      Sensations vs representations
  .slide
    +blur('img.bkg')
    p.notes.handout.em-above.show: :t
      ‘Something which I thought I was seeing with my eyes is in fact grasped solely by the faculty of
      judgement which is in my mind’
    p.right.grey-text.handout.ctd (Meditation 2).



+slide_middle
  p.notes.handout.show(style='line-height:1.66em;')
    span.step99.hide
      span ‘I have been in the habit of misusing the order of nature. For
    span.purpose: span ‘the proper purpose of [...] 
    span.perceptions: span sensory perceptions
    span.step2.hide  
      span [...] is simply to inform the 
      span mind of 
      span.beneficial what is beneficial or harmful
      span  [...]; 
    br
    span.step3.hide 
      span and to this extent they are sufficiently 
      span.clear-word clear
      span  and 
      span.distinct distinct
      span . 
    br
    span.step4.hide 
      span But I misuse 
      span them by treating them as reliable touchstones for immediate judgements about 
      span the 
      span.essential-nature essential nature
      span.of-bodies  of the bodies located outside us
      span ; 
    br
    span.step5.hide 
      span yet this is an area 
      span where they provide only very obscure information.’ 
  .notes.handout.ctd \citep[pp.~57-8]{descartes:1985_csm2} 
  p.right.grey-text Descartes, Meditation IV
  .slide
    +show('.step2')
    .notes: :t
      Sensations can have valence without representing anything
  //- .slide
  //-   +show('.step3')
  //- .slide
  //-   +show('.step4')
  //- .slide
  //-   +show('.step5')


+slide_middle
  .notes.handout: :t
    Distinguish two claims:
    \begin{enumerate}
        \item Sensory perceptions are caused by things. 
        \item Sensory perceptions represent (or present) things.
    \end{enumerate}
    Descartes accepts the first of these two claims (‘I do not see how God could be understood to be anything but a deceiver if the ideas were transmitted from a source other than corporeal things’).
  p Distinction:
  p.indent.hem-around Sensory perceptions have causes
  p.indent.hem-around Sensory perceptions represent (or present) things
  .notes: :t
    Sensations like electricity have causes.
  .slide
    p.em-above
      span ‘I do not see how God could be understood to be anything but a deceiver if 
      span the ideas were 
      span.transmitted transmitted
      span  from a source other than corporeal things’
  .slide
    +invert('.transmitted')




+slide_middle
  .notes: :t
    Recall this: 
    The claim that bodies are ‘not strictly perceived by the senses’ plays an essential
    role in Descartes account of error. Since the senses do not strictly perceive bodies,
    they cannot be the cause of errors about bodies.  
  p.hem-around: :t
    The intellect is the faculty of representation.
  p.hem-around: :t
    The will is what affirms or denies something represented
  p.hem-around: :t
    Judgement occurs when the intellect represents something which the will affirms (or denies).
  p.hem-around.senses: :t
    What about the senses? 
  .notes Where do they fit in?
  +highlight-row('.senses')

+slide_timer
  p.center Do sensory perceptions have 
    span.io intentional object
    span s?
  .slide
    +invert('.io')
    .notes: :t
      Ie they represent or otherwise relate to properties of things?
  .slide
    +uninvert('.io')
  +start-timer('timer1')

