---cson
layout: 'deck_unit'
title: "How to Write an Essay"
tags: []
description: """
  ‘these six meditations contain all the foundations of 
  my physics. But please do not tell people’ 
  """
duration: 5
---

include ../../../fragments/unit_mixins
include ../../../fragments/descartes_mixins

+slide_middle
  p.em-above.notes.handout.show
    span ‘these six meditations contain all the foundations of 
    span.my-physics my physics
    span .  
    span But please do not tell people’ 
  p.right.grey-text
    span  Letter to Mersenne (28 January 1641)

+slide_middle
  .hem-around-children
    p Be clear about your aim.
    p.slide Concision is a virtue.
    p.slide Formulate claims carefully.  
    p.slide Defend each claim you make, or say explicitly that it as a premise.  
    p.slide It’s not about you.  
    p.slide We don’t do bulletpoint marking.  

+slide_middle
  p The single-coherent-line-of-argument challenge
  .notes Not a list of points
  .notes How to achieve it?
  .hem-around-children.em-above
    p.slide: :t
      Make one point in each paragraph. 
    p.slide: :t
      Ensure that each paragraph contributes to a single, carefully ordered line of argument. 
    p.slide: :t
      Review the key moves of the argument in your conclusion.
