---cson
layout: 'deck_unit'
title: "Aristotlians vs Descartes on the Essential Nature of Bodies"
tags: []
description: """
  Aristotle was wrong.
  """
duration: 5
---

include ../../../fragments/unit_mixins
include ../../../fragments/descartes_mixins


+slide_rh_white({step:true})
  +left_half
    p.center Aristotlian
    .hem-around-children
      p.slide bodies composed of form & matter
      p.slide form is, or determines, essence
      p.slide a body’s form directs its development and activity towards an end
      p.slide sensory perceptions resemble forms
      p.slide PS: the heavens are immutable (different physics)

  +right_half({step:true})
    p.center Descartes
    .hem-around-children
      p.slide bodies composed of matter only
      p.slide bodies have a few simple properties (e.g. extension, motion)
      p.slide these properties explain all their sensory effects (e.g. heat, colour, taste)
      p.slide these properties are measurable on ratio scales


+slide_middle
  p Letter to Mersenne (28 January 1641)
  p.em-above.notes.handout.show: :t
    ‘these six meditations contain all the foundations of my physics. But please do not tell people, for that might make it harder for supporters of Aristotle to approve them. I hope that readers will gradually get used to my principles, and recognize their truth, before they notice that they destroy the principles of Aristotle.’

+slide_middle
  p Meditations (Synopsis)
  p.em-above.notes.handout.show: :t
    Reasons are provided “which give us possible grounds for doubt about all things, especially material things, so long as we have no foundation for the sciences other than those we have had up until now”
+slide_middle
  p Meditations (Synopsis)
  p.em-above.notes.handout.show: :t
    The usefulness of extensive doubt “lies in freeing us from our preconceived opinions, and providing the easiest route by which the mind may be led away from the senses.”
