---cson
layout: 'deck_unit'
title: "The Natural Light and Natural Impluses"
tags: []
description: """
  ‘whatever is revealed to me by the natural light — for example that from the fact that I
  am doubting it follows that I exist, and so on — cannot in any way be open to doubt.’
  (Third Meditation).
  """
duration: 5
---

include ../../../fragments/unit_mixins
include ../../../fragments/descartes_mixins



+slide_lh_white
  .notes: :t
    This clear/imperfect distinction is related to another distinction Descartes makes between
    the natural light and natural impulses.
  +left_half_lh_white
    p clear and distinct
  +right_half_lh_white
    p imperfect and confused
  .clear
  .slide
    +left_half_lh_white
      p natural light
      p.notes.handout.show.em-above: :t
        ‘whatever is revealed to me by the natural light — for example that from the fact that I
        am doubting it follows that I exist, and so on — cannot in any way be open to doubt.
        This is because there cannot be another faculty both as trustworthy as the natural
        light and also capable of showing me that such things are not true.’
      p.right.grey-text.notes.handout.ctd.show (Third Meditation).
  .slide
    +right_half_lh_white
      p natural impuses
      p.notes.handout.show.em-above: :t
        ‘as for my natural impulses, I have often judged in the past that they were pushing me in the wrong direction when it
        was a question of choosing the good, and I do not see why I should place any greater confidence in them in other
        matters’
      p.right.grey-text.notes.handout.ctd.show (Third Meditation).

+slide
  +img_clip('van_der_wel_2014_fig2A.jpg')
  p.source van der Wel et al, 2014 figure 2A

+slide_middle
  p.notes.handout.show: :t
    ‘Dual-process theories of thinking and reasoning quite literally propose the presence of two minds in one brain. The stream of consciousness that broadly corresponds to System 2 thinking is massively supplemented by a whole set of autonomous subsystems in System 1 that post only their final products into consciousness and compete directly for control of our inferences, decisions and actions. However, System 2 provides the basis for hypothetical thinking that endows modern humans with unique potential for a higher level of rationality in their reasoning and decision-making.’
  .notes.handout.ctd \citep[p.~458]{evans:2003_two}
  p.right.grey-text Evans, 2003 p. 458

+slide_middle
  p.notes.handout.show(style='line-height:1.66em;')
    span.purpose: span ‘the proper purpose of [...] 
    span.perceptions: span sensory perceptions
    span.step2  
      span [...] is simply to inform the 
      span mind of 
      span.beneficial what is beneficial or harmful’ 
  .notes.handout.ctd \citep[pp.~57-8]{descartes:1985_csm2} 
  p.right.grey-text Descartes, Meditation IV

+slide_timer({hide:true})
  p Why not say the same about natural impulses
    br
    span.slide ... and about the natural light?
  +show-timer('timer1')
  +start-timer('timer1')