---
layout: 'deck_unit'
title: "Practicalities"
tags: []
description: "Information about books, assessment and weekly tasks for the seminars."
duration: 5
---

include ../../../fragments/unit_mixins


+slide_middle
  p books
  p.slide.indent.em-above Descartes’ Meditations (CUP)
  p.slide.indent.em-above Hatfield
  .handout: :t
    \section{Books}
    Core text: \citep{descartes:1985_csm2}.

    Useful background (find one you like):
    \begin{itemize}
    \item Broughton, Janet 2002. Descartes' Method of Doubt. (Princeton University Press)
    \item Hatfield, G. 2014. Descartes’ Meditations [The Routledge Guidebook to]. London: Routledge. 
    \item Newman, Lex "Descartes' Epistemology", The Stanford Encyclopedia of Philosophy (Winter 2016 Edition), Edward N. Zalta (ed.).
    \item Williams, B. 1978. Descartes: The Project of Pure Inquiry. Hassocks: Harvester Press. 
    \item Wilson, Margaret. 1978. Descartes (Routledge).
    \end{itemize}
    \emph{Tip}: Hatfield is an invaluable reference. Any time you write about a 
    passage from the Mediations, check what Hatfield writes about that passage.

+slide_middle
  p.center web

+slide_middle
  p.center seminar tasks
  p.center yyrama

+slide_middle
  p.center assessment
  .notes: :t
    The questions are on moodle.
