---cson
layout: 'deck_unit'
title: "A Puzzle about the Senses"
tags: []
description: """
  Descartes appears to have endorsed claims with conflicting implications
  for whether sensory perceptions have intentional objects.
  """
duration: 5
---

include ../../../fragments/unit_mixins
include ../../../fragments/descartes_mixins




+slide_middle
  p.notes.handout.show(style='line-height:1.66em;')
    span.step99.hide
      span ‘I have been in the habit of misusing the order of nature. For
    span.purpose: span ‘the proper purpose of [...] 
    span.perceptions: span sensory perceptions
    span.step2.hide  
      span [...] is simply to inform the 
      span mind of 
      span.beneficial what is beneficial or harmful
      span  [...]; 
    br
    span.step3.hide 
      span and to this extent they are sufficiently 
      span.clear-word clear
      span  and 
      span.distinct distinct
      span . 
    br
    span.step4.hide 
      span But I misuse 
      span them by treating them as reliable touchstones for immediate judgements about 
      span the 
      span.essential-nature essential nature
      span.of-bodies  of the bodies located outside us
      span ; 
    br
    span.step5.hide 
      span yet this is an area 
      span where they provide only very obscure information.’ 
  .notes.handout.ctd \citep[pp.~57-8]{descartes:1985_csm2} 
  p.right.grey-text Descartes, Meditation IV
  .slide
    +show('.step2')
    .notes: :t
      Sensations can have valence without representing anything
  //- .slide
  //-   +show('.step3')
  //- .slide
  //-   +show('.step4')
  //- .slide
  //-   +show('.step5')



+slide_middle({bkg:'wire.jpg'})
  +hide('img.bkg', 0)
  p.notes.handout.show: :t
    Sensory perceptions of tastes,
    smells, sounds, heat, cold, light, colors and the like ‘do not represent
    anything located outside our thought’
  p.slide.notes.handout.ctd.show.hem-above: :t
    These sensory perceptions ‘vary according to the different movements which pass 
    from all parts of our body to the ... brain’
  p.right.grey-text Principles
  .notes.handout.ctd: :t
    (\citealp[p.~ 219, AT VIII:35]{descartes:1985_csm1} cited by \citealp[p.~348]{simmons:1999_are})
  .slide
    +show('img.bkg')
    .notes: :t
      Sensations vs representations
  .slide
    +blur('img.bkg')
    p.notes.handout.em-above.show: :t
      ‘Something which I thought I was seeing with my eyes is in fact grasped solely by the faculty of
      judgement which is in my mind’
    p.right.grey-text.handout.ctd (Meditation 2).

+slide_middle
  p.center Is Descartes’ consistent?

+slide_rh_white({step:true})
  .notes Simmons shows us that Descartes is not super consistent ...
  +left_half
    p.notes.handout.show: :t
      Sensory perceptions of tastes,
      smells, sounds, heat, cold, light, colors and the like ‘do not represent
      anything located outside our thought’
    p.right.grey-text Principles
    .slide
      p.em-above.notes.quote2.show
        span.purpose: span ‘the proper purpose of [...] 
        span.perceptions: span sensory perceptions
        span.step2  
          span [...] is simply to 
          span.inform inform
          span  the 
          span mind of 
          span.beneficial what is beneficial or harmful’
      .slide
        +invert('.inform')
        .notes: :t
          How can you inform if you do not represent?
          By being aversive or pleasurable.
      .slide
        +uninvert('.inform')

  +right_half({step:true})
    p.notes.handout.show.quote1
      span Sensory perceptions ‘normally 
      span.tell tell us
      span  of the benefit or harm that external 
      span bodies may do [...], and do not, except [...]
      span accidentally, 
      span.show-us show us
      span  what external bodies are like in themselves’ 
    .notes.handout.ctd: :t
      (\citealp[p.~224, AT VIII: 41]{descartes:1985_csm1} cited by \citealp[p.~350]{simmons:1999_are}).
    .slide
      +invert('.tell')
      .notes: :t
        How can you *tell* and *show* if you do not represent?
        Tell: it’s just a matter of creating something averive.
        Show: you cannot!
    .slide
      +uninvert('.tell')
      +invert('.show-us')
    .slide
      +blur('.quote1')
      //- p.quote2.em-above: :t
      //-   ‘from time to time I have found that the senses deceive’ (Meditation 1)
      //- .notes: :t
      //-   We dealt with this by distingishing common way of talking from strict way
      //-   of talking.
      p.em-above: :t
        ‘pain will be felt as if it were in the foot [...]
        deception of the senses is natural’ 
    .slide
      +blur('.quote2')
      p.em-above: :t
        ‘[the intellect] must not judge that external things always are just as they appear to be.’
        (Rule 12)


+slide_timer({hide:true})
  p.hem-around Inconsistent tetrad:
  p.hem-around 1. Sensory perceptions represent things.
  p.hem-around 2. What can represent can misrepresent.
  p.hem-around 3. Anything that can misrepresent can be a source of error.
  p.hem-around 4. Sensory perceptions cannot be a source of error.
  +show-timer('timer1')
    .notes Could both claims be true?
  +start-timer('timer1')


+slide_middle
  .notes: :t
    Further evidence of the contradiction
  p.notes.handout.show
    span External bodies 
    br 
    span ‘may not exist in a way that 
    br 
    span exactly corresponds with my  sensory grasp of them, 
  p.notes.handout.ctd.show
    span for in many cases the 
    br
    span.grasp grasp of the senses
    br
    span  is very 
    span obscure and confused. 
  .slide
    +invert('.grasp')
    .notes: :t
      Mere sensations could not grasp.
  .slide
    +uninvert('.grasp')
  .slide
    p.notes.handout.ctd.show
      span But at least they possess all the properties which I 
      span clearly and distinctly understand, 
  .slide
    p.notes.handout.ctd.show
      span that is all those which, viewed in 
      span general terms, are comprised within the subject matter of pure mathematics.’

+slide_middle
  .notes: :t
    Further & further evidence of the contradiction
  .notes.handout: :t
    ‘We should note here that the intellect can never be deceived by any experience, provided
    that when the object is presented to it, it intuits it in a fashion exactly corresponding
    to the way in which it possesses the object, either within itself or in the imagination.
    Furthermore, it must not judge that the imagination faithfully represents the objects of
    the senses, or that the senses take on the true shapes of things, or in short that
    external things always are just as they appear to be. 
    In all such cases we are liable to go wrong, as we do for example when we take as gospel
    truth a story which someone has told us; or as someone who has jaundice does when, owing
    to the yellow tinge of his eyes, he thinks everything is coloured yellow; or again, as we
    do when our imagination is impaired (as it is in depression) and we think that its
    disordered images represent real things. 
    But the understanding of the wise man will not be deceived in such cases: while he will
    judge that whatever comes to him from his imagination really is depicted
    in it, he will never assert that it passes, complete and unaltered, from the external
    world to his senses, and from his senses to the corporeal imagination’
    (Rules for the Direction of the Mind, Rule 12)
    \citep[p.~47, AT X:423]{descartes:1985_csm1}.
  p.one
    span ‘the intellect can never be deceived by any experience, 
    span.slide provided that when the object is presented to it, it intuits it in a fashion exactly corresponding 
      span to the way in which it possesses the object, either within itself or in the imagination.
  .slide
    +blur('.one')
    p.hem-above.two: :t
      ‘[the intellect] must not judge that external things always are just as they appear to be.’
  .slide
    +blur('.two')
    p.three.hem-above: :t
      In all such cases we are liable to go wrong, as we do for example when we take as gospel
      truth a story which someone has told us; 
  .slide
    +blur('.three')
    p.four.hem-above: :t
      ‘... the the wise man will not
      judge that whatever comes to him from his imagination ... 
      passes, complete and unaltered, from the external
      world to his senses, and from his senses to the corporeal imagination’
    p.right.grey-text: :t
      Rules for the Direction of the Mind, Rule 12

+slide_middle
  .hem-around-children
    p 1. On Descartes’ view, do the senses represent things?
    p.slide 2. If so, how is it that the senses never misrepresent things? (Or, if they do sometimes misrepresent, why are they not a source of error)?
    p.slide 3. If not, why must we ‘not judge that external things always are just as they appear to be’?
  .handout: :t
    \emph{Dilemma} On Descartes’ view, do the senses represent things?
    If so, how is it that the senses never misrepresent things? (Or, if they do sometimes misrepresent, why are they not a source of error)?
    If not, why must we ‘not judge that external things always are just as they appear to be’?



+slide_middle
  p.center A resolution?

+slide_middle
  .notes: :t
    The optics suggests another idea ...
  .handout.notes: :t
    ‘consider the reasons why [vision]
    sometimes deceives us. First, it is the soul which sees, and not the eye;
    and it does not see directly, but only by means of the brain. That is why
    madmen and those who are asleep often see, or think they see, various
    objects which are nevertheless not before their eyes: namely, certain
    vapours disturb their brain and arrange those of its parts normally
    engaged in vision exactly as they would be if these objects were present.
    Then, because the impressions which come from outside pass to the
    'common' sense by way of the nerves, if the position of these nerves is
    changed by any unusual cause, this may make us see objects in places
    other than where they are ... Again, because we normally judge that the 
    impressions which stimulate our sight come from places towards which
    we have to look in order to sense them, we may easily be deceived when
    they happen to come from elsewhere. Thus, those whose eyes are affected
    by jaundice, or who are looking through yellow glass or shut up in a
    room where no light enters except through such glass, attribute this
    colour to all the bodies they look at. And the person inside the dark room
    which I described earlier attributes to the white body the colours of the
    objects outside because he directs his sight solely upon that body. And if
    our eyes see objects through lenses and in mirrors, they judge them to be
    at points where they are not and to be smaller or larger than they are, or
    inverted as well as smaller (namely, when they are somewhat distant
    from the eyes). This occurs because the lenses and mirrors deflect the rays’
    (Optics)
    \citep[pp.~172--3, AT VI:141--2]{descartes:1985_csm1}.
  p: :t
    ‘consider the reasons why [vision]
    sometimes deceives us. 
  p.slide.hem-above: :t
    ‘those ... who are looking through yellow glass ... attribute this
    colour to all the bodies they look at’
  p.right.grey-text Optics

+slide_middle
  p.notes.show
    span Sensory perceptions of tastes,
    span smells, sounds, heat, cold, light, colors and the like ‘do not represent 
    span.located anything located outside our thought
    span ’
  p.right.grey-text Principles
  .notes.ctd: :t
    (\citealp[p.~ 219, AT VIII:35]{descartes:1985_csm1} cited by \citealp[p.~348]{simmons:1999_are})
  .slide
    +invert('.located')
    .notes: :t
      They do represent.
      But what they represent is somehow internal to the mind.
      Maybe what they represent is that the mind has been excited by an external stimulus
      of some kind.
    .notes: :t
      Maybe this is what Descartes has in mind, and why he appears to go backwards and forwards
      on the issue of representation.
    .notes: :t
      But this interpretation has two problems.
      First, it is implausible (because of the scientific discoveries mentioned earlier).
      Second, where there is representation, even of things within the mind, there is 
      surely the possibility of misrepresentation.

+slide_middle
  .notes: :t
    Regardless of whether Descartes has a consistent, or even defensible, view on sensory perception,
    he is responsible for two big insights ....
  .hem-around-children
    p Descartes’ big insights
    p.slide 1. The intellect is independent of sensory perceptions: it does not have to accept the principles implicit in perceptual processes.
    p.slide 2. We can explain why perceptual processes implicitly rely on principles which sometimes yield misrepresentations by appeal to the proper purpose of sensory perception.
    