---cson
layout: 'deck_unit'
title: "Wax"
tags: []
description: """
  ‘even bodies are not strictly perceived by the senses or the faculty of the imagination but by the intellect alone’
  """
duration: 5
---

include ../../../fragments/unit_mixins
include ../../../fragments/descartes_mixins


+slide_middle
  .notes: :t
    Descartes makes a striking claim in the Second Meditation ... 
  p.handout.notes.show: :t
    ‘even bodies are not strictly perceived by the senses or the faculty of the imagination but by the
    intellect alone’
  p.right.grey-text.handout.notes.show.ctd (Meditation 2)
  .notes: :t
    Let’s start by contrasting this claim with the view he opposes,
    that of the Aristotelians ...

+slide_middle
  .notes: :t
    recall from lecture 1 ...
  .hem-around-children
    p.theQ How can we acquire knowledge about the 
      span.essential-nature essential nature
      span  of the bodies located outside us?
    p.indent Each body has a 
      span.form form
      span , which is its essential nature.
    p.indent.resembles When a body is perceived, your sensory perception resembles the body’s form.
    p.indent Thanks to this resemblance, your sensory perception acquaints you with the forms (essential natures) of bodies.
  .notes: :t
    Which of these claim’s does Descartes claim about the proper purpose
    of sensory perceptions justify us in rejecting?
  .slide
    +highlight-row('.resembles', 'red')

+slide_timer({hide:true})
  p wax
  .slide
    .quote
      p.notes.handout.show: :t
        ‘I can grasp that the wax is capable of countless changes, yet I am unable to run through this
        immeasurable number of changes in my imagination… The nature of this piece of wax is in no way
        revealed by my imagination, but is perceived by the mind alone’
      p.right.grey-text.handout.ctd (Meditation 2).
  .slide
    +blur('.quote')
    p.em-above: :t
      Sensory perceptions change. 
    p: :t
      The essential nature does not.
    p: :t
      Therefore the senses cannot inform us about its essential nature.
    .handout: :t
      Argument sketch:
      \begin{enumerate}
      \item Sensory perceptions of the wax change. 
      \item The essential nature of the wax does not.
      \item Therefore the senses cannot inform us about its essential nature.
      \end{enumerate}
    .handout: :t
      ‘The Stoics claimed that each of us has many cognitive impressions,
      typically sense impressions of a particular sort, and that these
      cognitive impressions are in one way or another the basis for everything
      that we can know. A cognitive impression is one that “[1] arises from
      what is and [2] is stamped and impressed exactly in accordance with what
      is, [3] of such a kind as could not arise from what is not.”’ (Sextus
      Empiricus, Against the Logicians 7.248 (1997, 132–33) cited by
      \citealp[p.~72]{broughton:2003_descartes}).


  +show-timer('timer1')
    .notes Is this argument convincing?
  +start-timer('timer1')


+slide_middle
  p.notes.handout.show: :t
    ‘Something which I thought I was seeing with my eyes is in fact grasped solely by the faculty of
    judgement which is in my mind’
  p.right.grey-text.handout.ctd (Meditation 2).


 +slide_timer({hide:true})
  .notes: :t
    recall from lecture 1 ...
  .hem-around-children
    p.theQ How can we acquire knowledge about the 
      span.essential-nature essential nature
      span  of the bodies located outside us?
    p.indent Each body has a 
      span.form form
      span , which is its essential nature.
    p.indent.resembles When a body is perceived, your sensory perception resembles the body’s form.
    p.indent Thanks to this resemblance, your sensory perception acquaints you with the forms (essential natures) of bodies.
  .notes: :t
    Which of these claim’s does Descartes claim about the proper purpose
    of sensory perceptions justify us in rejecting?
  +highlight-row('.resembles', 'red')
  .notes: :t
    So the wax refutes the idea that we can gain knowledge of things through the senses?



+slide_middle
  p: :t
    ‘even bodies are not strictly perceived by the senses or the faculty of the imagination but by the
    intellect alone’
  p.right.grey-text Meditation 2

+slide({bkg:'shaun_sheep.jpg'})
  .notes: :t
    Descartes uses the example of seeing the hat of someone and 
    saying that you have seen a man walk past.
  .notes: :t
    The point isn’t that you might be wrong.
    The point is that the senses do not get you to the person.

+slide_rh_white({bkg:'shaun_sheep.jpg'})
  +left_half  
    p.hem-around Sensory impressions of wax 
    p.hem-around vs
    p.hem-around Judgement that this is wax
  +right_half
    p.hem-around Seeing hats and coats
    p.hem-around vs
    p.hem-around Judgement that those are people
    .notes.handout: :t
      ‘But then if I look out of the window and see men crossing the square, as I just
      happen to have done, I normally say that I see the men themselves, just as I
      say that I see the wax. Yet do I see any more than hats and coats which could
      conceal automatons? I judge that they are men. And so something which I thought
      I was seeing with my eyes is in fact grasped solely by the faculty of judgement
      which is in my mind’ \citep[p.~21; AT VII: 32]{descartes:1985_csm2}.
