---
layout: 'default2'
title: 'Lecture 04'
subtitle: 'Descartes'
weburl: ''
units: []
lecture_date: '2019/02/20'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include ../../fragments/descartes_mixins

- var images = get_images('sunclouds')

+title_slide({document:document, images:images})


+slide_middle
  p: span: :t
    ‘The main reason why we can find nothing in ordinary philosophy which is so evident and certain as to be beyond dispute 
  p.slide: span: :t
    is that students of the subject first of all are not content to acknowledge what is clear and certain, 
  p.slide
    span but 
    span.fail on the basis of merely probably conjectures 
    span.fail venture also to 
    span.fail make assertions on obscure matters about which nothing is known
    span ; 
  p.slide: span: :t
    they then gradually come to have complete faith in these assertions, ... 
  p.slide: span: :t
    The result is that the only conclusions they can draw are ones which apparently rest on some such 
    obscure proposition, and which are accordingly uncertain.’ 
  p.right.grey-text Rules for the Direction of the Mind, p. 14
  .handout.notes: :t
    ‘The main reason why we can find nothing in ordinary philosophy which is so evident and certain as to be beyond dispute is that students of the subject first of all are not content to acknowledge what is clear and certain, but on the basis of merely probably conjectures venture also to make assertions on obscure matters about which nothing is known; they then gradually come to have complete faith in these assertions, ... The result is that the only conclusions they can draw are ones which apparently rest on some such obscure proposition, and which are accordingly uncertain.’ (Rules for the Direction of the Mind, p. 14)
    \citep[p.~14, AT X:367--8]{descartes:1985_csm1}
  .slide
    +blur('span:not(.fail)')
    .notes: :t
      Why do I mention this?
      I’ve just been moderating your PH146 essays!


+slide_middle
  p.notes.handout.show
    span ‘in practical life 
    br
    span it is sometimes necessary to act upon opinons which one knows to be quite uncertain 
    span just as if they were indubitable’
  p.right.grey-text Discourse on Method
  .handout.notes.ctd: :t
    \citep[p.~126 AT 6:31]{descartes:1985_csm1}

+slide_middle
  p.notes.handout.show
    span In devoting ‘myself soley to the search for truth
    br
    span ... I resolved to 
    br
    span.pretend pretend
    br
    span  that all the things that had ever
    br
    span entered my mind were no more true
    br
    span that the illusions of my dreams’
  p.right.grey-text Discourse on Method
  .handout.notes.ctd: :t
    \citep[p.~127 AT 6:32]{descartes:1985_csm1}


+slide_middle
  p.notes.handout.show
    span ‘I noticed that while I was trying thus ot think everything false
    br
    span it was necessary that I,
    br
    span who was thinking this,
    br
    span was something.’
  p.right.grey-text Discourse on Method
  .handout.notes.ctd: :t
    \citep[p.~126 AT 6:31]{descartes:1985_csm1}


+slide_middle
  p.notes.handout.show
    span ‘this truth
    br
    span “I am thinking, therefore I exist”
    br
    span [is] so firm and sure 
    br
    span that all the most extravagant suppositions of the sceptics [are] incapable of shaking it’
  p.slide.notes.handout.show
    span I took it as ‘the first principle’.
  p.right.grey-text Discourse on Method
  .handout.notes.ctd: :t
    \citep[p.~126 AT 6:31]{descartes:1985_csm1}

+slide_middle
  p: :t
    (1) What exactly is the conclusion? That is, precisely what is established? The bare existence of the meditator? That a mind exists? That an immaterial substance exists? (2) How is the conclusion as stated in the Meditation, “I am, I exist” (Latin Ego sum, ego existo), established? Through deductive argument (perhaps using suppressed premises), or in some other way? (3) What is the function of this conclusion in Des- cartes’ philosophy?
