---
layout: 'default2'
title: 'Lecture 02'
subtitle: 'Descartes'
weburl: ''
units: []
lecture_date: '2019/02/06'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include ../../fragments/descartes_mixins

- var images = get_images('sunclouds')

+title_slide({document:document, images:images})


section.slide
  .notes.handout: :t
    \emph{Overall Topic}:
    What, according to Descartes, is the relation between a sensory perception 
    and the thing perceived?
  +_slide_middle_inner
    p.center.huge-glow-180.hide.tick ✓
    p.center.huge-glow-180.remove-me.q ?
  +reset
    +_slide_middle_inner
      p.knowledge-question: +knowledgeQuestion
      .slide
        .hem-around-children
          p.indent.main-claim Sensory perceptions provide only very obscure information about the essential nature of bodies.
          p.indent ∴ Not by treating sensory perceptions as a basis for judgements about them.
        .notes: :t
          This is all by way of a demonstration that Descartes was right.
          Sensory perceptions really do provide only very obscure information about the essential nature of bodies.
    .slide
      +blur('p:not(.main-claim, .tick)', '2px', 0)
      +show('.tick')
      .notes: :t
        This is what we did last time ...
    //- .slide
    //-   +blur('.tick, .main-claim')
    //-   +unblur('.knowledge-question')
    //-   .notes: :t
    //-     Just one small problem: how are we going to answer this question?
    //-   .notes: :t
    //-     Plan:
    //-     1. leave question hanging for now.
    //-     2. next lecture: come back and make similar points by appeal to intro to The World (on feather)
    //-     3. then: discuss relation of sensory perceptions to its objects (Simmons)
    //-     4. then: return to the question (Descartes’ answer: through mathematics)
    //-     5. Why is this the right way to start? Metaphysics as root of physics; method of doubt
    //-     used to show that sensory perceptions unreliable, whereas pure intellect is reliable.
    .slide
      +remove('.tick')
      +unremove('.q')
      +unblur('.q')
      .notes: :t
        have argued that Descartes is right but not considered his reasons yet.
        [yyrama task is: 
        Why did Descartes hold that sensory perceptions provide only very obscure information 
        about the essential nature of bodies?]

+insert_unit({unit:'light_and_sound', title_slide:true, images:images, handout:true})


//- 
  HERE: arguments in Meditation 1 against the senses

+insert_unit({unit:'doubt', title_slide:true, images:images, handout:true})




+insert_unit({unit:'descartes_aim', title_slide:true, images:images, handout:true})
+insert_unit({unit:'essential_nature', title_slide:true, images:images, handout:true})



+slide_middle
  p Meditations (Synopsis)
  p.em-above.notes.handout.show
    span Reasons are provided ‘which give us possible grounds for doubt about all things, especially material things,  
    br
    span.slide
      span.no-foundation so long as we have no foundation for the sciences other than those we have had up until now
      span ’
  .slide
    +invert('.no-foundation')
    .notes: :t
      I.e. we are not saying that 

+slide_middle
  p Meditations (Synopsis)
  p.em-above.notes.handout.show: :t
    The usefulness of extensive doubt ‘lies in freeing us from our preconceived opinions, 
    and providing the easiest route by which the mind may be led away from the senses.’


//- 
  TODO bit more about Aristotelian physics stolen from Guy?



+slide_middle
  p: +knowledgeQuestion
  .notes: :t
    So how did Descartes answer his question?
  .slide
    p.indent Through reason alone.
  .slide
    p: :t
      ‘The only principles which I accept or require in physics are those of geometry and pure mathematics; 
      these principles explain all natural phenomena, and enable us to provide quite certain demonstrations 
      regarding them’ (PP 2:64, CSM 1:247). 
   .notes Bennett Learning: ‘That plainly makes physics a part or a consequence of mathematics’

