---
layout: 'default2'
title: 'Lecture 09'
subtitle: 'Descartes'
weburl: ''
units: []
lecture_date: '2019/03/12'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include ../../fragments/descartes_mixins

- var images = get_images('sunclouds')

+title_slide({document:document, images:images})

//- these two units belong together ...
+insert_unit({unit:'descartes_aim', title_slide:false, images:images, handout:true})
+insert_unit({unit:'essential_nature', title_slide:true, images:images, handout:true})

//- This was incorporated into the clear and distinct discussion
//- +insert_unit({unit:'clear_and_distinct_reprise', title_slide:true, images:images, handout:true})

+insert_unit({unit:'essay_tips', title_slide:true, images:images, handout:true})


+insert_unit({unit:'natural_light', title_slide:true, images:images, handout:true})
