---
layout: 'default2'
title: 'Lecture 06'
subtitle: 'Descartes'
weburl: ''
units: []
lecture_date: '2019/02/27'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include ../../fragments/descartes_mixins

- var images = get_images('sunclouds')

+title_slide({document:document, images:images})



+slide_middle
  p: +knowledgeQuestion
  .notes: :t
    So how did Descartes answer his question?
  .slide
    p.em-above.indent Through the intellect alone.
  .slide
    p.em-above.notes.handout.show: :t
      ‘The only principles which I accept or require in physics are those of geometry and pure mathematics; 
      these principles explain all natural phenomena, and enable us to provide quite certain demonstrations 
      regarding them’ 
    .notes.handout.ctd: :t
      \citep[p.~247, AT 2:64]{descartes:1985_csm1}
    p.right.grey-text Principles 
  .notes Bennett Learning: ‘That plainly makes physics a part or a consequence of mathematics’


+insert_unit({unit:'clear_and_distinct', title_slide:true, images:images, handout:true})


+slide_timer({hide:true})
  p: +knowledgeQuestion
  .notes: :t
    So here’s the question, as I keep saying.
  .slide
    p.em-above Negative part
    .notes Negative part: full marks to Descartes
    .hem-around-children
      p.indent.main-claim Sensory perceptions provide only very obscure information about the essential nature of bodies.
      p.indent ∴ Not by treating sensory perceptions as a basis for judgements about them.
  .slide
    .notes Positive part: descartes is just wrong
    p.em-above Positive part
    .hem-around-children
      p.indent.reason Through the intellect alone.
  .slide
    +highlight-row('.main-claim', 'lime')
  .slide
    +unhighlight-row('.main-claim', 'lime')
    +highlight-row('.reason', 'red')

+slide_middle
  p.center method: take only what is good, waste no time on flaws
  .notes: :t
    This is why we will not consider Descartes’ arguments for the existence of 
    god on this course, for example.  I can find nothing of value in them.
    Of course I might easily be wrong.


