---
layout: 'default2'
title: 'Lecture 04'
subtitle: 'Descartes'
weburl: ''
units: []
lecture_date: '2019/02/20'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include ../../fragments/descartes_mixins

- var images = get_images('sunclouds')

+title_slide({document:document, images:images})



+slide_middle
  .notes: :t
    Descartes’ organising question is ...
  p.theQ How can we acquire knowledge about the 
    span.essential-nature essential nature
    span  of the bodies located outside us?
  .slide
    p.em-above So far ...
    ol
      li.hem-around Not by sensory perception alone
        ul
          li.hem-around sensory perceptions do not resemble (The World)
          li.hem-around argument from doubt (Meditation 1)
      li.slide.hem-around There is a nonsensory route to knowledge that I exist,
        br
        span which provides a ‘first principle’
        +blur('li:eq(0)')

+slide_middle
  p
    span.step2.hide ‘The main reason why 
    span  we can find nothing in ordinary philosophy which is 
    span so evident and 
    span certain
    span  as to be beyond dispute 
  .notes: :t
    This seems true, even today.
    Why is that?
  .slide
    +show('.step2')
  p.slide: span: :t
    is that students of the subject first of all are not content to acknowledge what is clear and certain, 
  p.slide
    span but 
    span.fail on the basis of merely probably conjectures 
    span.fail venture also to 
    span.fail make assertions on obscure matters about which nothing is known
    span ; 
  p.slide: span: :t
    they then gradually come to have complete faith in these assertions, ... 
  p.slide: span: :t
    The result is that the only conclusions they can draw are ones which apparently rest on some such 
    obscure proposition, and which are accordingly uncertain.’ 
  p.right.grey-text Rules for the Direction of the Mind, p. 14
  .handout.notes: :t
    ‘The main reason why we can find nothing in ordinary philosophy which is so evident and certain as to be beyond dispute is that students of the subject first of all are not content to acknowledge what is clear and certain, but on the basis of merely probably conjectures venture also to make assertions on obscure matters about which nothing is known; they then gradually come to have complete faith in these assertions, ... The result is that the only conclusions they can draw are ones which apparently rest on some such obscure proposition, and which are accordingly uncertain.’ (Rules for the Direction of the Mind, p. 14)
    \citep[p.~14, AT X:367--8]{descartes:1985_csm1}
  .slide
    +blur('span:not(.fail)')
    .notes: :t
      Why do I mention this?
      I’ve just been moderating your PH146 essays!


+slide_middle
  p.notes.handout.show
    span ‘in 
    span.practical-life.ct practical life 
    br
    span it is sometimes necessary to act upon opinons which one knows to be quite uncertain 
    span just as if they were indubitable’
  p.right.grey-text Discourse on Method
  .handout.notes.ctd: :t
    \citep[p.~126 AT 6:31]{descartes:1985_csm1}
  .slide
    p.notes.handout.show.em-above
      span In devoting ‘myself soley to 
      span.search-for-truth.ct the search for truth
      br
      span.slide ... I resolved to 
        br
        span.pretend pretend
        br
        span  that all the things that had ever
        br
        span entered my mind were no more true
        br
        span that the illusions of my dreams’
    p.right.grey-text Discourse on Method
    .handout.notes.ctd: :t
      \citep[p.~127 AT 6:32]{descartes:1985_csm1}
    .slide
      +blur('span:not(.practical-life, .search-for-truth)')
    .slide
      +unblur('span:not(.practical-life, .search-for-truth)')
      +invert('.pretend')


+insert_unit({unit:'i_exist', title_slide:true, images:images, handout:true})



+slide_middle
  .notes: :t
    Descartes’ organising question is ...
  p.theQ How can we acquire knowledge about the 
    span.essential-nature essential nature
    span  of the bodies located outside us?
  p.em-above So far ...
  ol
    li.hem-around Not by sensory perception alone
      ul
        li.hem-around sensory perceptions do not resemble (The World)
        li.hem-around argument from doubt (Meditation 1)
    li.hem-around There is a nonsensory route to knowledge that I exist,
      br
      span which provides a ‘first principle’
