---
layout: 'default2'
title: 'Lecture 05'
subtitle: 'Descartes'
weburl: ''
units: []
lecture_date: '2019/02/26'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include ../../fragments/descartes_mixins

- var images = get_images('sunclouds')

+title_slide({document:document, images:images})




+insert_unit({unit:'descartes_aim', title_slide:false, images:images, handout:true})
+insert_unit({unit:'essential_nature', title_slide:true, images:images, handout:true})



+slide_middle
  p Meditations (Synopsis)
  p.em-above.notes.handout.show
    span Reasons are provided ‘which give us possible grounds for doubt about all things, especially material things,  
    br
    span.slide
      span.no-foundation so long as we have no foundation for the sciences other than those we have had up until now
      span ’
  .slide
    +invert('.no-foundation')
    .notes: :t
      I.e. we are not saying that 

+slide_middle
  p Meditations (Synopsis)
  p.em-above.notes.handout.show: :t
    The usefulness of extensive doubt ‘lies in freeing us from our preconceived opinions, 
    and providing the easiest route by which the mind may be led away from the senses.’


//- 
  TODO bit more about Aristotelian physics stolen from Guy?



+slide_middle
  p: +knowledgeQuestion
  .notes: :t
    So how did Descartes answer his question?
  .slide
    p.indent Through reason alone.
  .slide
    p: :t
      ‘The only principles which I accept or require in physics are those of geometry and pure mathematics; 
      these principles explain all natural phenomena, and enable us to provide quite certain demonstrations 
      regarding them’ (PP 2:64, CSM 1:247). 
   .notes Bennett Learning: ‘That plainly makes physics a part or a consequence of mathematics’

