---
layout: 'default2'
title: 'Lecture 04'
subtitle: 'Descartes'
weburl: ''
units: []
lecture_date: '2019/02/20'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include ../../fragments/descartes_mixins

- var images = get_images('sunclouds')

+title_slide({document:document, images:images})


+slide_middle
  p: span: :t
    ‘The main reason why we can find nothing in ordinary philosophy which is so evident and certain as to be beyond dispute 
  p.slide: span: :t
    is that students of the subject first of all are not content to acknowledge what is clear and certain, 
  p.slide
    span but 
    span.fail on the basis of merely probably conjectures 
    span.fail venture also to 
    span.fail make assertions on obscure matters about which nothing is known
    span ; 
  p.slide: span: :t
    they then gradually come to have complete faith in these assertions, ... 
  p.slide: span: :t
    The result is that the only conclusions they can draw are ones which apparently rest on some such 
    obscure proposition, and which are accordingly uncertain.’ 
  p.right.grey-text Rules for the Direction of the Mind, p. 14
  .handout.notes: :t
    ‘The main reason why we can find nothing in ordinary philosophy which is so evident and certain as to be beyond dispute is that students of the subject first of all are not content to acknowledge what is clear and certain, but on the basis of merely probably conjectures venture also to make assertions on obscure matters about which nothing is known; they then gradually come to have complete faith in these assertions, ... The result is that the only conclusions they can draw are ones which apparently rest on some such obscure proposition, and which are accordingly uncertain.’ (Rules for the Direction of the Mind, p. 14)
    \citep[p.~14, AT X:367--8]{descartes:1985_csm1}
  .slide
    +blur('span:not(.fail)')
    .notes: :t
      Why do I mention this?
      I’ve just been moderating your PH146 essays!


+slide_middle
  p.notes.handout.show
    span ‘in 
    span.practical-life.ct practical life 
    br
    span it is sometimes necessary to act upon opinons which one knows to be quite uncertain 
    span just as if they were indubitable’
  p.right.grey-text Discourse on Method
  .handout.notes.ctd: :t
    \citep[p.~126 AT 6:31]{descartes:1985_csm1}
  .slide
    p.notes.handout.show.em-above
      span In devoting ‘myself soley to 
      span.search-for-truth.ct the search for truth
      br
      span.slide ... I resolved to 
        br
        span.pretend pretend
        br
        span  that all the things that had ever
        br
        span entered my mind were no more true
        br
        span that the illusions of my dreams’
    p.right.grey-text Discourse on Method
    .handout.notes.ctd: :t
      \citep[p.~127 AT 6:32]{descartes:1985_csm1}
    .slide
      +blur('span:not(.practical-life, .search-for-truth)')
    .slide
      +unblur('span:not(.practical-life, .search-for-truth)')
      +invert('.pretend')

+slide_middle
  p.notes.handout.show
    span ‘I noticed that while I was trying thus to think everything false
    br
    span it was necessary that I,
    br
    span who was thinking this,
    br
    span was something.’
  .handout.notes.ctd: :t
    \citep[p.~126 AT 6:31]{descartes:1985_csm1}
  .slide
    p.notes.handout.show.em-above
      span ‘this truth
      br
      span “I am thinking, therefore I exist”
      br
      span [is] so firm and sure 
      br
      span that all the most extravagant suppositions of the sceptics [are] incapable of shaking it’
    p.slide.notes.handout.show
      span I took it as ‘the first principle’.
    p.right.grey-text Discourse on Method
    .handout.notes.ctd: :t
      \citep[p.~126 AT 6:31]{descartes:1985_csm1}

+slide_middle
  .notes adapted from Hatfield p. 107
  p
    span 1. What precisely, is concluded? 
    br
    span That something exists? 
    br
    span That a mind exists? 
    br
    span That a temporally-extended mind exists? 
  .slide
    +blur('p:eq(0)')
    p.em-above
      span 2. How is the conclusion established? 
      br
      span Is there an argument? If so, what is the argument?
  .slide
    +blur('p:eq(1)')
    p.em-above
      span 3. What is the function of this conclusion in Descartes’ philosophy?
      br
      span (Descartes: I took it as ‘the first principle’.)

+slide_middle
  p subject, attitude, content

+slide_middle
  p: :t
    Two thoughts in succession.
    In fact they are thoughts of the same subject.
    Could Descartes’ argument ever allow him to conclude that the thoughts have a common subject?

+slide_middle
  p: :t
    ‘As he explained in the Fifth Replies, someone cannot know that he exists without also knowing what he is, that is, his essence or nature (7:359)’
  p.em-above: :t
    The initial cogito passage concludes “that this proposition, I am, I exist, is necessa- rily true whenever it is put forward by me or conceived in my mind” (7:25). This makes it seem as if the “I” does not extend beyond present thoughts. On this “thin reading,” the thinking thing is wholly constituted by those thoughts currently before the meditator.
  p.em-above: :t
    Third and Fifth Replies. In reply to Hobbes, Descartes glosses the thinking thing as a “thing or sub- stance” (7:174), allows that “we cannot conceive of thought without a thinking thing” (7:175), and says further that “it is certain that a thought cannot exist without a thing that is thinking, and that in general no act or accident can exist without a substance to inhere in” (7:175–76). In other words, individual thoughts must be regarded as the acts of a persisting thing, which is capable of having one thought, then another, and so on. In reply to Gassendi, he restates his conclusion from the Second Meditation as “I am a thinking substance,” again treating this as equivalent to “I am a thinking thing” (7:355).