---
layout: 'default2'
title: 'Lecture 06'
subtitle: 'Descartes'
weburl: ''
units: []
lecture_date: '2019/02/27'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include ../../fragments/descartes_mixins

- var images = get_images('sunclouds')

+title_slide({document:document, images:images})


+insert_unit({unit:'error_ctd', title_slide:false, images:images, handout:true})

+insert_unit({unit:'error_clear', title_slide:true, images:images, handout:true})


+insert_unit({unit:'error_and_the_senses', title_slide:true, images:images, handout:true})

