---
layout: 'default2'
title: 'Lecture 04'
subtitle: 'Descartes'
weburl: ''
units: []
lecture_date: '2019/02/20'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include ../../fragments/descartes_mixins

- var images = get_images('sunclouds')

+title_slide({document:document, images:images})


+slide_middle
  p
    span.step2.hide ‘The main reason why 
    span  we can find nothing in ordinary philosophy which is 
    span so evident and 
    span certain
    span  as to be beyond dispute 
  .notes: :t
    This seems true, even today.
    Why is that?
  .slide
    +show('.step2')
  p.slide: span: :t
    is that students of the subject first of all are not content to acknowledge what is clear and certain, 
  p.slide
    span but 
    span.fail on the basis of merely probably conjectures 
    span.fail venture also to 
    span.fail make assertions on obscure matters about which nothing is known
    span ; 
  p.slide: span: :t
    they then gradually come to have complete faith in these assertions, ... 
  p.slide: span: :t
    The result is that the only conclusions they can draw are ones which apparently rest on some such 
    obscure proposition, and which are accordingly uncertain.’ 
  p.right.grey-text Rules for the Direction of the Mind, p. 14
  .handout.notes: :t
    ‘The main reason why we can find nothing in ordinary philosophy which is so evident and certain as to be beyond dispute is that students of the subject first of all are not content to acknowledge what is clear and certain, but on the basis of merely probably conjectures venture also to make assertions on obscure matters about which nothing is known; they then gradually come to have complete faith in these assertions, ... The result is that the only conclusions they can draw are ones which apparently rest on some such obscure proposition, and which are accordingly uncertain.’ (Rules for the Direction of the Mind, p. 14)
    \citep[p.~14, AT X:367--8]{descartes:1985_csm1}
  .slide
    +blur('span:not(.fail)')
    .notes: :t
      Why do I mention this?
      I’ve just been moderating your PH146 essays!


+slide_middle
  p.notes.handout.show
    span ‘in 
    span.practical-life.ct practical life 
    br
    span it is sometimes necessary to act upon opinons which one knows to be quite uncertain 
    span just as if they were indubitable’
  p.right.grey-text Discourse on Method
  .handout.notes.ctd: :t
    \citep[p.~126 AT 6:31]{descartes:1985_csm1}
  .slide
    p.notes.handout.show.em-above
      span In devoting ‘myself soley to 
      span.search-for-truth.ct the search for truth
      br
      span.slide ... I resolved to 
        br
        span.pretend pretend
        br
        span  that all the things that had ever
        br
        span entered my mind were no more true
        br
        span that the illusions of my dreams’
    p.right.grey-text Discourse on Method
    .handout.notes.ctd: :t
      \citep[p.~127 AT 6:32]{descartes:1985_csm1}
    .slide
      +blur('span:not(.practical-life, .search-for-truth)')
    .slide
      +unblur('span:not(.practical-life, .search-for-truth)')
      +invert('.pretend')

+slide_middle
  p.notes.handout.show
    span.step2.hide ‘I noticed that 
    span while I was trying thus to think everything false
    br
    span.step2.hide it was necessary that I,
    br
    span.step2.hide who was thinking this,
    br
    span.step2.hide was something.’
  .handout.notes.ctd: :t
    \citep[p.~126 AT 6:31]{descartes:1985_csm1}
  .slide
    +show('.step2')
  .slide
    p.notes.handout.show.em-above
      span ‘this truth
      br
      span “I am thinking, therefore I exist”
      br
      span [is] so firm and sure 
      br
      span that all the most extravagant suppositions of the sceptics [are] incapable of shaking it’
    p.slide.notes.handout.show
      span I took it as ‘the first principle’.
    p.right.grey-text Discourse on Method
    .handout.notes.ctd: :t
      \citep[p.~126 AT 6:31]{descartes:1985_csm1}

mixin slide_cogitoQuestions()
  +slide_middle
    .notes adapted from Hatfield p. 107
    p.q1.hem-around
      span 1. What precisely, is concluded? 
      br
      span.indent That something exists? 
      br
      span.indent That a mind exists? 
      br
      span.indent That a temporally-extended mind exists? 
    p.q2.hem-around
        span 2. How is the conclusion established? 
        br
        span Is there an argument? If so, what is the argument?
    p.q3.hem-around
        span 3. What is the function of this conclusion in Descartes’ philosophy?
        br
        span (Descartes: I took it as ‘the first principle’.)
    block

+slide_cogitoQuestions
  +hide('.q2, .q3', 0)
  .slide
    +blur('.q1')
    +show('.q2')
  .slide
    +blur('.q2')
    +show('.q3')
  .slide
    +blur('.q3')
    +unblur('.q1')
    +highlight-row('.q1')


+slide({bkg:'minimal/Slide01.jpg'})
  .notes subject, attitude, content
+slide({bkg:'minimal/Slide02.jpg'})
+slide({bkg:'minimal/Slide03.jpg'})



+slide_middle
  p  “I am thinking, therefore I exist”
  p.em-above: :t
    Conclusion 1 : something exists
  .slide
    p.em-above: :t
      “it is certain that a thought cannot exist without a thing that is thinking, and that in general no act or accident can exist without a substance to inhere in”
  .slide
    p.em-above: :t
      Conclusion 2 : a substance exists
  .slide
    p.em-above: :t
      Limit : These conclusions are consistent with the world being momentary.


+slide_timer
  p: :t
    Two thoughts occur in succession.
    In fact they are thoughts of the same subject.
    Could Descartes’ argument ever allow him to conclude that the thoughts have a common subject?
  +start-timer('timer1')
  .notes No!
  .slide
    +hide('.timer-outer')
    p.notes.handout.show.em-above: :t
      ‘We clearly understand that it is possible for me to exist at this moment, while I am thinking of
      one thing, and yet not to exist at the very next moment’
    .handout.notes.ctd: :t
      \citep[p.~355 AT V:192]{descartes:1984_vol3}
    p.right.grey-text For Arnauld, 4 June 1648


+slide_cogitoQuestions
  +blur('.q2, .q3', '2px', 0)
  +highlight-row('.q1')
  .slide
    +unhighlight-row('.q1')
    +highlight-row('.q2')
    +unblur('.q2')
    +blur('.q1')



+slide_timer({hide:true})
  div(style='margin-right:400px;')
    p  “I am thinking, therefore I exist”
    .hem-around-children.em-above
      p: :t
        There is thinking. 
      p: :t
        Therefore a thought exists. 
      p: :t
        If a thought exists, its subject also exists.
      p
        span Whatever 
        span.i I
        span  am, I am that subject.
      p: :t
        And I am capable of thinking.
  +show-timer('timer1')
    .notes: :t
      Is this argument correct? Any objections?
  +start-timer('timer1')

+slide_rh_white({step:true})
  +left_half
    div
      p  “I am thinking, therefore I exist”
    p.hem-around.em-above: :t
      There is thinking. 
    p.hem-around: :t
      Therefore a thought exists. 
    p.hem-around: :t
      If a thought exists, its subject also exists.
    p.hem-around
      span Whatever 
      span.i I
      span  am, I am that subject.
    p.hem-around: :t
      And I am capable of thinking.
  +right_half({step:true})
    p  “I am breathing, therefore I exist”
    .slide
      p.hem-around.em-above: :t
        There is breathing. 
      p.hem-around: :t
        Therefore a breath exists. 
      p.hem-around: :t
        If a breath exists, its agent also exists.
      p.hem-around
        span Whatever 
        span.i I
        span  am, I am that agent.
      p.hem-around: :t
        And I am capable of breathing.
    .notes.handout: :t
      ‘When someone says 'I am breathing, therefore I exist', if he wants to prove he exists from the fact
      that there cannot be breathing without existence, he proves nothing, because he would have to prove
      first that it is true that he is breathing, which is impossible unless he has also proved that 
      he exists’ 
      \citep[p.~98 AT II:37]{descartes:1984_vol3}
  .slide
    +blur('.right-half')
  .slide
    +invert('.i')
    .notes: :t
      What is this ‘I’ doing here?
      Why isn’t the conclusion just that something exists?
//- 
  +slide_middle
    p: :t
      ‘As he explained in the Fifth Replies, someone cannot know that he exists without also knowing 
      what he is, that is, his essence or nature (7:359)’
    p.em-above: :t
      The initial cogito passage concludes “that this proposition, I am, I exist, is necessarily 
      true whenever it is put forward by me or conceived in my mind” (7:25). This makes it seem 
      as if the “I” does not extend beyond present thoughts. On this “thin reading,” the thinking 
      thing is wholly constituted by those thoughts currently before the meditator.
    p.em-above: :t
      Third and Fifth Replies. In reply to Hobbes, Descartes glosses the thinking thing as a 
      “thing or substance” (7:174), allows that “we cannot conceive of thought without a 
      thinking thing” (7:175), and says further that “it is certain that a thought cannot 
      exist without a thing that is thinking, and that in general no act or accident 
      can exist without a substance to inhere in” (7:175–76). In other words, 
      individual thoughts must be regarded as the acts of a persisting thing, which is capable of 
      having one thought, then another, and so on. In reply to Gassendi, he restates 
      his conclusion from the Second Meditation as “I am a thinking substance,” again 
      treating this as equivalent to “I am a thinking thing” (7:355).



+slide_middle
  .notes: :t
    Note that we are not deducing ‘I exist’ from any general premises ...
  p.notes.handout.show
    span ‘When someone says “I am thinking, therefore I am, or I exist,” he does not deduce existence from 
    span thought by means of a syllogism
    span.slide , but by a simple intuition of the mind.  
  p.slide.notes.handout.ctd.show.hem-around: :t
    This is clear from the fact that if he were deducing it by a syllogism, he would
    previously have had to know the major premise “Everything that thinks is, or exists”
  .slide
    p.notes.handout.ctd.show.hem-around.last: :t
      yet in fact
      he learns this from experiencing in his own case that it is impossible that he should think
      without existing.’
    .handout.notes.ctd: :t
      \citep[AT 7:140]{descartes:1985_csm2}
  p.right.grey-text Second Replies
  .slide
    +highlight-row('.last')
    .notes: :t
      Descartes’ view is that you know the “Everything that thinks is, or exists”
      by virtue of knoiwng that you yourself cannot think without existing.


+slide
  .notes Confirmed elsewhere ...
  .first
    p.notes.handout.show: :t
      ‘...  the truth of the proposition 'I am thinking, therefore I exist.' 
      Now this knowledge is not the work
      of your reasoning 
    .slide
      p.notes.handout.show.ctd: :t
        [...] it is something that your mind sees,
        feels and handles; 
        [...] although your imagination insistently mixes itself up with your thoughts
        and lessens the clarity of this knowledge by trying to clothe it with shapes
      .handout.notes.ctd: :t
        \citep[p.~331 AT V:138]{descartes:1984_vol3}
    p.right.grey-text Letter to Silhon, 1648
    //- 
      .slide
        p.em-above: :t
          ‘when I said that the proposition “I am thinking, therefore I exist” is the first and most certain 
          of all to occur to anyone who philosophizes in an orderly way, I did not in saying that deny that 
          one must first know what thought, existence, and certainty are, and also that it is impossible 
          that that which thinks should not exist, and so forth.’


+slide_cogitoQuestions
  +blur('.q1, .q3', '2px', 0)
  +highlight-row('.q2')
  .notes There is no argument.
  .slide
    +unhighlight-row('.q2')
    +highlight-row('.q3')
    +unblur('.q3')
    +blur('.q2')

+slide_middle
  .notes: :t
    recall from the start of the lecture ...
  p
    span ‘The main reason why 
    span  we can find nothing in ordinary philosophy which is 
    span so evident and 
    span certain
    span  as to be beyond dispute 
  p
    span is that students of the subject first of all are not content to acknowledge what is 
    span.c-n-c clear and certain
    span , 
  p
    span but 
    span.fail on the basis of 
    span.fail.merely merely probably conjectures 
    span.fail venture also to 
    span.fail make assertions on obscure matters about which nothing is known
    span ; 
  p: span: :t
    they then gradually come to have complete faith in these assertions, ... 
  p: span: :t
    The result is that the only conclusions they can draw are ones which apparently rest on some such 
    obscure proposition, and which are accordingly uncertain.’ 
  p.right.grey-text Rules for the Direction of the Mind, p. 14
  .slide
    +blur('span:not(.c-n-c, .merely)')
    +hide('span:not(.c-n-c, .merely)')


+slide_middle
  p: :t
    ‘none of the things that the imagination enables me to grasp is at all relevant to this knowledge of myself which I possess.’
  p.right.grey-text Meditation 2


+slide_middle
  p.notes.show.em-above
    span ‘this truth
    br
    span “I am thinking, therefore I exist”
    br
    span [is] so firm and sure 
    br
    span that all the most extravagant suppositions of the sceptics [are] incapable of shaking it’
  p.slide.notes.show
    span I took it as ‘the 
    span.fp first principle
    span ’.
  p.right.grey-text Discourse on Method
  .notes.ctd: :t
    \citep[p.~126 AT 6:31]{descartes:1985_csm1}
  .slide
    +invert('.fp')
  .notes: :t
    One puzzle for us will be what this means.
    Hatfield suggests one possibility: 
    ‘by offering an instance of certain knowledge, [it] reveals the proper method for attaining knowledge’


+slide_cogitoQuestions
  +blur('.q1, .q2', '2px', 0)
  +highlight-row('.q3')
  .notes It is something certain, and it is a ‘first principle’.
  .slide
    +unhighlight-row('.q3')
    +unblur('.q1,.q2')
