---
layout: 'default2'
title: 'Lecture 05'
subtitle: 'Descartes'
weburl: ''
units: []
lecture_date: '2019/02/26'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include ../../fragments/descartes_mixins

- var images = get_images('sunclouds')

+title_slide({document:document, images:images})

//- 
  REDO  : 
  don’t try to impose a theme. Make it a series of little moments. 
  Include more recap & repetition

//- 
  START WITH ERROR
  Also mention that Descartes was no sceptic!


+slide_middle
  .notes: :t
    Descartes’ organising question is ...
  p.theQ How can we acquire knowledge about the 
    span.essential-nature essential nature
    span  of the bodies located outside us?
  .slide
    p.em-above So far ...
    ol
      li.hem-around Not by sensory perception alone
        ul
          li.hem-around sensory perceptions do not resemble (The World)
          li.hem-around argument from doubt (Meditation 1)
      li.hem-around There is a nonsensory route to knowledge that I exist,
        br
        span which provides a ‘first principle’


section.slide
  +_slide_middle_inner
    p.center.huge-glow-180.why why?
  +reset
    +_slide_middle_inner
        p: :t
          Doubt  is necessary to establish ‘anything at all in the sciences that is stable and likely to last’
  .notes: :t
    Last week on Tuesday, I said the aim was to understand this.
    I suggested it was because doubt shows us that we 
    cannot know the essential nature of bodies by means of the senses.
    In explaining this, I contrasted two interpretations of Descartes’ position ...
  .notes: :t
    In this lecture I want to go a little deeper ...

+slide_rh_white
  +run_across
    p.center Two Interpretations
  +left_half
    .hem-around-children
      p 1. The sciences need a metaphysical foundation.
      p 2. This foundation must include a refutation of scepticism.
  +right_half
    +blur('.left-half')
    .hem-around-children
      p 1. The assumption that sensory perception enables us to know the essential nature of things leads to bad science.
      p 2. Reflection on possible grounds for doubt provides reasons to reject this assumption.
      .notes This is why doubt is necessary to establish anything in the sciences that is stable and likely to last.

+slide_ledAwayQ
  +hide('.part2', 0)
  .notes: :t
    So the important thing about doubt is that it leads us away from the senses.
  .slide
    +invert('.led')
    .notes: :t
      This raises two questions, which are my concern today ...
  .slide
    +blur('.part1')
    +show('.part2')
    .slide
      +highlight-row('.q1')


+insert_unit({unit:'wax', title_slide:true, images:images, handout:true})


+slide_ledAwayQ
  +blur('.part1', '2px',0)
  +highlight-row('.q1')
  .slide
    +unhighlight-row('.q1')
    +highlight-row('.q2')
  



+insert_unit({unit:'descartes_aim', title_slide:true, images:images, handout:true})

+slide_ledAwayQ
  +blur('.part1', '2px',0)
  +highlight-row('.q2')
  .notes: :t
    I asked, Why does Descartes want to lead us away from the senses? 
    Because he sees this as they way to provide a foundation for his physics
    But we can’t be satisfied with this answer. We need to know why this is 
    relevant to Descates’ physics.

+insert_unit({unit:'essential_nature', title_slide:true, images:images, handout:true})



+slide_ledAwayQ
  +blur('.part1', '2px',0)
  +highlight-row('.q2')
  .notes: :t
    I asked, Why does Descartes want to lead us away from the senses? 
    Because he sees this as they way to provide a foundation for his physics
    Then I asked, why does Descates’ physics require being led away?
    And the answer is because understanding Descartes’ physics
    requires recognising that the senses do not inform us about the 
    essential natural of material bodies.

+slide_middle
  p.knowledge-question: +knowledgeQuestion
  .notes: :t
    So Descartes didn’t just want to explain how we know the natures of things;
    he also thought that when we consider how we know them,
    we arrive at an entirely different view of the nature of the physcial world.
  .slide
    p.em-above New answer -> new theory of essential nature
  .slide
    p.em-above.notes.handout.show: :t
      ‘The whole of of Philosophy is like a tree, of which the roots are Metaphysics,
      the trunk is Physics, and the branches which come out of this trunk are all the
      other sciences ...’
    .notes.handout.ctd \citep[p.~186]{descartes:1985_csm1}
    p.right.grey-text Descates (Principles of Philosophy p. 186; AT IX–2: 14)


+slide_ledAwayQ
  +blur('.part1', '2px',0)
  +highlight-row('.q2')
  .notes: :t
    So Descartes thought that leading us away from the senses 
    provided a new foundation for science.
  .slide
    +unhighlight-row('.q2')


//- 
  +conclusion
  +slide_middle
    p Two interim conclusions
    p.em-above 1. The aims of The Meditations are ...
    p.em-above 2. The question How do we know? is linked to the question What are the essence natures of things?

//- 
  +slide_middle
    .notes: :t
      As I’ve been saying since the first lecture ...
      [new: doubt established the central claim about sensory perceptions]
    p: +knowledgeQuestion
    .hem-around-children
      p.indent.main-claim Sensory perceptions provide only very obscure information about the essential nature of bodies.
      p.indent ∴ Not by treating sensory perceptions as a basis for judgements about them.



//- 
  +slide_middle
    p Meditations (Synopsis)
    p.em-above.notes.handout.show
      span Reasons are provided ‘which give us possible grounds for doubt about all things, especially material things,  
      br
      span.slide
        span.no-foundation so long as we have no foundation for the sciences other than those we have had up until now
        span ’
    .slide
      +invert('.no-foundation')
      .notes: :t
        I.e. we are not saying that 

  +slide_middle
    p Meditations (Synopsis)
    p.em-above.notes.handout.show: :t
      The usefulness of extensive doubt ‘lies in freeing us from our preconceived opinions, 
      and providing the easiest route by which the mind may be led away from the senses.’


  //- 
    TODO bit more about Aristotelian physics stolen from Guy?


+conclusion
  +_slide_inner
    div(style='margin-top:-550px')
      .slide
        p Doubt is necessary for science because it can lead us ‘away from the senses’
      .slide
        p.em-above We cannot know the essential nature of things through the senses ...
        p ... but only through the mind,
        p as the wax shows.
      .slide
        p.em-above ‘the roots are Metaphysics’ : i.e. Descartes takes this epistemological claim to ground claims about the essential nature of things.

