

mixin knowledgeQuestion()
  span How can we acquire knowledge about the essential nature of the bodies located outside us?



mixin argumentIdeas()
  +slide_middle
    p Argument ideas from Meditation 1
    .hem-around-children
      p.indent.senses The senses sometimes deceive us
      p.indent.melancholia My brain may be ‘damaged by the persistent vapours of melancholia’
      p.indent.dream The dream argument
      p.indent.god-deceives The deceiving God hypothesis
      p.indent.cosmic Cosmic deception
    block