

mixin knowledgeQuestion()
  span How can we acquire knowledge about the essential nature of the bodies located outside us?



mixin argumentIdeas()
  +slide_middle
    p Argument ideas from Meditation 1
    .hem-around-children.hem-above
      p.indent.senses The senses sometimes deceive us
      p.indent.melancholia My brain may be ‘damaged by the persistent vapours of melancholia’
      p.indent.dream The dream argument
      p.indent.god-deceives The deceiving God hypothesis
      p.indent.cosmic Cosmic deception
    block


mixin slide_ledAwayQ()
  +slide_middle
    .part1
      p Meditations (Synopsis)
      p.em-above.notes.handout.show
        span The usefulness of extensive doubt ‘lies in freeing us from our preconceived opinions,  
        span and providing the easiest route by which the mind may be  
        span.led led away from the senses
        span .’
    .part2.hem-around-children.hem-above
      p.q1 1. What is it to be led away from the senses?
      p.q2 2. Why does Descartes want to lead us away from the senses?
    block

mixin slide_cogitoQuestions()
  +slide_middle
    .notes adapted from Hatfield p. 107
    p.q1.hem-around
      span 1. What precisely, is concluded? 
      br
      span.indent That something exists? 
      br
      span.indent That a mind exists? 
      br
      span.indent That a temporally-extended mind exists? 
    p.q2.hem-around
        span 2. How is the conclusion established? 
        br
        span Is there an argument? If so, what is the argument?
    p.q3.hem-around
        span 3. What is the function of this conclusion in Descartes’ philosophy?
        br
        span (Descartes: I took it as ‘the first principle’.)
    block
